<template>
    <header class="header" :class="{'open': open_menu}">
        <div class="wrapper">
            <div class="header-overlay">
                <div  v-on:click="close_menu">
                    <router-link :to="{name:'main_page'}" class="header-logo logo">
                    <div class="logo-icon"></div>
                    <div class="logo-title">BIMTangl</div>
                    </router-link>
                </div>

                <div class="header-second-column">
                    <nav class="header-nav">
                        <menu class="header-menu">
                            <li v-on:click="close_menu">
                                <router-link :to="{name:'models_list'}" :class="{'active':route_name=='models_list'}" >
                                <svg class="icon">
                                    <use xlink:href="/static/svg.symbols/symbols.svg#models"></use>
                                </svg>
                                <span class="menu-caption">Модели</span>
                                </router-link>
                            </li>
                            <li v-on:click="close_menu"><router-link :to="{name:'project_list'}" :class="{'active':route_name=='project_list'}" >
                                <svg class="icon">
                                    <use xlink:href="/static/svg.symbols/symbols.svg#projects"></use>
                                </svg>
                                <span class="menu-caption">Проекты</span>
                            </router-link>
                            </li>
                            <li v-on:click="close_menu"><router-link :to="{name:'company_main'}" :class="{'active':(route_name=='company_main'||route_name=='company_units'||route_name=='company_admin')}" >
                                <svg class="icon">
                                    <use xlink:href="/static/svg.symbols/symbols.svg#company"></use>
                                </svg>
                                <span class="menu-caption">Компания</span>
                            </router-link>

                        </li>
                            <li v-on:click="close_menu"><router-link :to="{name:'service_list'}" :class="{'active':route_name=='service_list'}" >
                                <svg class="icon">
                                    <use xlink:href="/static/svg.symbols/symbols.svg#services"></use>
                                </svg>
                                <span class="menu-caption">Сервисы</span>
                            </router-link>
                            </li>
                        </menu>
                    </nav>
                    <div class="header-account">

                        <div  class="header-account-label">
                            <div class="account-img user-avatar" >
                                <div class="user-avatar__word">
                                    {{user.name.substring(0, 2)}}
                                </div>
                                <div class="user-avatr__img"  v-if="user.avatar!==''" :style="{'background-image': 'url(' + user.avatar + ')' }"></div>
                            </div>
                            <div class="account-title">
                                <div class="account-title-name">
                                    {{user.name}}
                                </div>
                                <div class="account-title-role">
                                    
                                </div>
                            </div>
                        </div>
                        <menu class="account-menu">
                            <li v-on:click="close_menu"><router-link :to="{name:'user_config'}" :class="{'active':route_name=='user_config'}" >Настройки</router-link> </li>
                            <li v-on:click="close_menu"><router-link :to="{name:'user_security'}" :class="{'active':route_name=='user_security'}" >Безопасность</router-link> </li>
                            <li class="logout-li"><a href="#">Выход</a></li>
                        </menu>
                        <a class="account-exit" v-on:click="signOutOidc" title="Выход">
                            <svg class="icon">
                                <use xlink:href="/static/svg.symbols/symbols.svg#logout"></use>
                            </svg>
                        </a>
                    </div>
                    
                </div>
                <div class="btn-burger" v-on:click="switch_menu"></div>
            </div>
        </div>
    </header>
</template>

<script>
    import {mapGetters, mapActions, mapState} from "vuex";


    export default {
        name: "header.vue",
        data: function () {
            return {
                open_menu:  false,
                route_name: ""
            };
        },
        computed: {
             ...mapGetters([
                'oidcStore/oidcUser'
            ]),
            
            // ...mapState('user', {
            //     user: state => state.current_user,
            // }),

            'user': function(){

                return this['oidcStore/oidcUser'];
            }
        },
        mounted() {
            this.get_route(this.$route);
        },
        methods: {
            ...mapActions([
      'oidcStore/signOutOidc'
    ]),


    signOutOidc: function(){


        this['oidcStore/signOutOidc']();
    },

            get_route: function (routerData) {
                this.route_name = routerData.name;
            },
            close_menu(){
                console.log('close_menu');
                this.open_menu = false;
            },
            switch_menu(){

                this.open_menu = !this.open_menu;
            }
        },
        watch: {
            $route(to, from) {
                // console.log(to);
                // console.log(from);

                this.get_route(to);
            }
        }
    }
</script>
