<template>
    <div>
        <header-view v-if="show_header"></header-view>
        <div class="">
            <transition name="fade">
                <router-view v-if="load_data"></router-view>
                <div class="preloader" v-else>Загрузка...</div>
            </transition>
        </div>
        <footer-view></footer-view>
    </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex'
    import axios from 'axios';
    import Header from  '@/components/global/header';
    import Footer from  '@/components/global/footer';
    export default {
        name: 'app',
        data: function () {
            return {
                load_data_user: false,
                load_data: true
            };
        },
        components:{
            'header-view':Header,
            'footer-view':Footer,
        },
        mounted() {

            // axios.get('https://auth.st.tangl.cloud/').then(response => this.axiosdata = response);


            //window.addEventListener('vuexoidc:userLoaded', this.userLoaded)

            // if(this.load_data_user){
            //     this.show_header = true;

            // }

            console.log(this);
        },

        computed: {
            ...mapGetters([
                'oidcStore/oidcIsAuthenticated',  'oidcStore/oidcUser'
            ]),
            show_header: function(){

                console.log(this);

                return this['oidcStore/oidcIsAuthenticated'];
            },
            hasAccess: function() {
            return this.oidcIsAuthenticated || this.$route.meta.isPublic
            }
        },
        methods:{
            
            ...mapActions([
                'oidcSignInCallback', 'signOutOidc'
            ]),
            userLoaded: function () {
                console.log('I am listening to the user loaded event in vuex-oidc')
            }
        },
        destroyed () {
            window.removeEventListener('vuexoidc:userLoaded', this.userLoaded)
        }

    };
</script>
