.page--auth
    background-color: $dark
    color: $white
    padding: 0
    .link 
        color: $azure
        &:hover 
            color: $white
    .input 
        color: $white
        border-color: $white-70
        &:focus,
        &:hover 
            border-color: $white

    .auth
        &--external-providers
            display: flex
            justify-content: space-between
            align-items: center
            padding: 2em 0
        &--container__form
            padding: 2em 0

        &--overlay
            min-height: 100vh
            display: grid
            grid-template-columns: 4fr 6fr
            @include tablet 
                grid-template-columns: repeat(2, 1fr)
            @include phone
                display: block
                .auth--img 
                    display: none


        &--form
            padding: 2em 0
            display: flex
            justify-content: center
            flex-direction: column
            @include phone
                padding: 15px 0
                .btn 
                    .txt 
                        display: none
                
        .form--wrapper
            padding: 0 2em
            max-width: 470px
            margin: 0 auto 
        .from--errors
            padding-top: 2em
            color: red
        .form--footer
            padding: 3em 0 0 0 
            display: flex 
            justify-content: space-between
            align-items: center

        &--img 
            @include img-bg
            background-image: img('auth--bg.jpg')
            position: relative
            &__logo 
                background-color: $white
                @include abs-center
                padding: 1.5vw 2.5vw
                display: flex
                color: $black
                align-items: center
                .pic
                    
                    width: 117px
                    height: 117px
                    @include icon
                    background-image: img('svg/logo-header.svg')
                .txt
                    font-size: 3em
                    font-weight: 900
                    padding: 0 0 0 .25em
    .registration--block
        border-top: 1px solid $white-70
        text-align: center 
        padding: 2em 0
        margin-top: 8vh
.popup--registration
    .registration--inputs
        display: grid 
        grid-template-areas: "name name" "em ph" "ps reps"
        grid-auto-rows: minmax(100px, auto)
        grid-template-columns: repeat(2, 1fr)
        grid-column-gap: 1em
        .input-label 
            &:nth-child(1)
                grid-area: name
            &:nth-child(2)
                grid-area: em
            &:nth-child(3)
                grid-area: ph
            &:nth-child(4)
                grid-area: ps
            &:nth-child(5)
                grid-area: reps
        @include phone
            display: block
    @include phone
        .btn 
            .txt 
                display: none
                    




