.page-company
  @include phone
    padding-top: 0
    
    .tabs 
      margin: 0 -15px
      flex-wrap: wrap
      margin-bottom: 2em
      background-color: $very-dark
      .tab 
        width: 27%
        font-size: 10px
        text-align: center
        padding: 12px 8px
        &:last-child
          width: 46%
  .list-user
    margin: 0 -15px
    width: auto
    .value 
      text-align: right

.company-state
  position: relative
  padding: 0 0 10px 20px
  &::before
    left: 0
    top: 2px
    bottom: 10px
    width: 13px
    height: 13px
    border-radius: 50%
    content: ''
    margin: auto
    position: absolute
    background-color: $dark
  &__ACTIVE
    color: $green
    &::before
      background-color: $green
  &__LIQUIDATING,
  &__LIQUIDATED
    color: $red

.unit-search__block
  width: 60%
  @include phone 
    width: auto
    margin-bottom: 1em

.list-user
  padding-top: 2em
  .item-user
    grid-template-columns: 5fr 3fr 4fr 4fr 2fr
    grid-gap: 1.5em
    @include phone 
      display: block
    .cell
      @include phone 
        width: 100%
        padding: 23px 15px
        display: flex
        justify-content: space-between
        align-items: center

.b-company__config
  display: grid
  grid-template-areas: "name name name name name name" "inn inn inn kpp kpp kpp" "opf opf opf opf opf opf" "header header header header header header" "f f n n c c" "role role role rule rule rule"
  @include phone 
    grid-template-areas: "name name" "inn kpp" "opf opf" "header header" "f f" "n n" "c c" "role role" "rule rule"
  grid-template-columns: 1fr
  grid-column-gap: 1em

.input-c__name
  grid-area: name
.input-c__inn
  grid-area: inn
.input-c__kpp
  grid-area: kpp
.input-c__opf
  grid-area: opf
.input-c__h3
  grid-area: header
.input-c_f
  grid-area: f
.input-c_n
  grid-area: n 
.input-c_o,
.input-c_c
  grid-area: c
.input-c_e
  grid-area: e
.input-c_p
  grid-area: p
.input-c__role
  grid-area: role
.input-c__rule
  grid-area: rule
.input-c__check
  grid-area: check

.b-unit__config
  display: grid
  grid-template-areas: "f f n n" "e e p p" "role role role role" "check check check check" 
  grid-template-columns: 1fr
  grid-column-gap: 1em
  @include phone 
    grid-template-areas: "f" "n" "e" "p" "role" "check" 
.company-managment
  margin: 1em 0 3em