@font-face
  font-family: 'MuseoSans'
  src: font('MuseoSansCyrl-500.woff2') format("woff2"), font('MuseoSansCyrl-500.woff') format("woff")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'MuseoSans'
  src: font('MuseoSansCyrl-700.woff2') format("woff2"), font('MuseoSansCyrl-700.woff') format("woff")
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'MuseoSans'
  src: font('MuseoSansCyrl-100.woff2') format("woff2"), font('MuseoSansCyrl-100.woff') format("woff")
  font-weight: 200
  font-style: normal
@font-face
  font-family: 'MuseoSans'
  src: font('MuseoSansCyrl-300.woff2') format("woff2"), font('MuseoSansCyrl-300.woff') format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'MuseoSans'
  src: font('MuseoSansCyrl-900.woff2') format("woff2"), font('MuseoSansCyrl-900.woff') format("woff")
  font-weight: bold
  font-style: normal