/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before
	box-sizing: border-box

html, body
	&.freeze
		height: 100%
		overflow: hidden
.hd-mobile
	@include phone 
		display: none!important
.hd-table
	@include tablet 
		display: none!important
	@include phone
		display: block!important
.hd-desktop
	display: none!important
.show-mobile
	display: none
	@include phone
		display: block!important


body
	font-size: 16px
	line-height: 1.6
	color: $dark
	margin: 0
	padding: 0
	font-family: $fontMain
	font-weight: $fw-ligth
.link
	color: $grey
	text-transform: uppercase
	line-height: 19px
	font-weight: 600
	&:hover 
		color: $dark
		.icon 
			fill: $dark
	.icon 
		width: 19px 
		height: 19px
		fill: $grey
		margin-bottom: -4px
		display: inline-block
		margin-right: 4px
	


a
	color: $black
	text-decoration: none

ol, ul
	list-style: none

.input
	font-family: $fontMain
	&[type="text"], &[type="tel"], &[type="email"], &[type="password"]
		-webkit-appearance: none
		border-radius: 0
		border: none
		background-color: transparent
		outline: none
		border-bottom: 1px solid $very-dark
		font-size: 16px
		font-weight: 300
		padding: 10px 0 15px 0
	&[type="radio"], &[type="checkbox"]
		display: none
.control-panel
	display: flex
	flex-direction: row
	flex-wrap: wrap
	margin-top: 1em
	& > div
		margin-right: 2em
	@include phone 
		display: block
		& > div
			margin-right: 0


.input-overlay
	position: relative
	.input-icon__action
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 20px
		height: 20px
		margin: auto
		.icon 
			width: 20px
			height: 20px
	.input
		width: 100%
		padding-right: 30px


input[type="checkbox"]
	& + label
		display: inline-block
		position: relative
		padding: 0 0 0 50px
		&::before, &::after
			content: ''
			position: absolute
			top: 0 
			bottom: 0 
			margin: auto

			
		&::before
			background-color: #CCD7DB
			width: 40px
			border-radius: 100px
			height: 22px
			left: 0
		&::after
			transition: .1s linear
			width: 18px
			height: 18px
			border-radius: 50%
			background-color: $white
			left: 2px

	&:checked + label
		&::before
			background-color: $azure
		&::after
			transform: translateX(100%)
.checkbox-overlay
	position: relative
	line-height: 22px
	input[type="checkbox"]
		width: 0
		height: 0
		padding: 0
		margin: 0
	label
		display: inline-block
		vertical-align: middle
		+ label
			margin-left: 1em
.input-label
	position: relative
	margin-bottom: 2em
	.label
		display: block
		font-size: 12px


textarea
	font-family: $fontMain
	-webkit-appearance: none
	border-radius: 0
	border: none
	background-color: transparent
	outline: none
	resize: none

button
	outline: none
	&:disabled
		cursor: default
p, .p
	margin: 1em 0
.table
	display: table

.tr
	display: table-row

.td, .th
	display: table-cell

.link
	cursor: pointer

.btn
	display: inline-block
	line-height: 1
	text-align: center
	cursor: pointer

.page
	overflow: hidden

#svg-sprites
	display: none

.img--bg
	@include img-bg

.gallery
	position: relative

.switch__tab
	cursor: pointer

.gallery__tab
	display: none
	&.active
		display: block


input
	-webkit-appearance: none
	appearance: none
.btn
	display: inline-block
	//line-height: 1
	text-align: center
	cursor: pointer
	text-transform: uppercase
	padding: 12px 2em

	line-height: 30px
	outline: none
	user-select: none
	border-radius: 0
	@include phone
		padding: 7px 15px
	
	&-small 
		font-size: 11px
		padding: 6px 16px
		svg 
			width: 18px
			height: 18px
			display: inline-block
			vertical-align: middle
			& + .txt 
				padding-left: .5em
		.txt
			display: inline-block
			vertical-align: middle
		& + .btn 
			margin: 0 0 0 .5em 
	&-fill 
		width: 100%
	&-blue
		background-color: $azure
		color: $white
		border: none
		&:disabled
			color: $white-70
			opacity: .5
			cursor: default
		svg 
			fill: $white
	&-midnightblue
		background-color: $midnightblue
		color: $white
		border: none
		&:disabled
			color: $white-70
			opacity: .5
			cursor: default
		svg 
			fill: $white

.link
	align-items: center
	text-align: center
	text-decoration-line: underline
	&-big
		text-transform: uppercase
		font-size: 14px
.input-label_pm
	position: relative
	.input 
		text-align: center
		padding-left: 30px
		padding-right: 30px
	.btn_input-label_pm
		position: absolute
		width: 13px
		height: 13px 
		bottom: 19px
		cursor: pointer
		&::before,
		&::after
			content: ''
			position: absolute
			
			background-color: $dark
			left: 50% 
			top: 50% 
			transform: translate(-50%,-50%)
			height: 2px
			width: 100%
		&::before
			
		
		&::after
			display: none

	.btn_input-label_pm__minuse
		left: 0
	.btn_input-label_pm__pluse
		right: 0 
		&::after
			transform: translate(-50%,-50%) rotate(90deg)
			display: block


.tabs
	display: flex
	flex-direction: row
	margin-bottom: 55px

	.tab
		display: block
		color: $white
		font-size: 14px
		padding: 12px 24px
		background-color: $very-dark
		cursor: pointer
		&:hover,
		&.select,
		&.active
			background-color: $azure

.header
	background-color: $very-dark
	padding: 22px 0
	position: sticky
	top: 0
	right: 0
	left: 0
	z-index: 1000
	@include phone
		&.open
			.header-second-column
				transform: translateX(0%)
			.btn-burger
				&::before
					width: 100%
					top: 50%
					
					transform: rotate(45deg)
					margin-top: -1px
					
				&::after 
					width: 100%
					bottom: 50%
					
					transform: rotate(-45deg)
					margin-bottom: -1px
	.header-overlay
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
	.header-second-column
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		@include phone 
			position: fixed
			left: 0
			width: 100%
			height: 100%
			top: 70px
			bottom: 0
			transform: translateX(-100%)
			transition: .5s ease
			background-color: $very-dark
			display: block
			padding: 4em 15px 2em 15px
			.header-menu
				li
					display: block
					margin: 25px 0
			

			

	.btn-burger	
		display: none 
		position: absolute
		right: 15px
		height: 9px
		width: 26px 
		&::before,
		&::after 
			content: ''
			position: absolute
			height: 2px 
			right: 0
			background-color: $white
			transition: 0.15s ease
		&::before
			width: 100%
			top: 0 
		&::after 
			bottom: 0
			width: 75%
		@include phone 
			display: block


	a
		color: $white
		&:hover
			color: $azure
			.icon
				fill: $azure
	.logo
		display: flex
		flex-direction: row
		align-items: center
	.logo-icon
		@include img-bg
		background-image: img("svg/logo-header.svg")
		height: $size-header-img
		width: $size-header-img
		margin-right: 15px
		@include tablet
			height: $size-header-img__tablet
			width: $size-header-img__tablet

	.logo-title
		font-style: normal
		font-weight: 900
		font-size: 20px
		line-height: 24px
		color: $white
		@include tablet
			font-size: 15px
		@include tablet
			font-size: 12px
	.header-menu
		text-transform: uppercase

		flex-direction: row
		margin: 0
		padding: 0
		li
			display: inline-block
			margin-right: 55px
			@include desktop-small
				margin-right: 23px
				&:last-child
					// margin-right: 0
			@include tablet

			&:last-child
				//margin-right: 0
			a
				vertical-align: middle
				font-size: 14px
				line-height: 20px
				height: 20px
				display: inline-block
				&.active
					color: $azure
					.icon
						fill: $azure
				.icon
					width: 20px
					height: 20px
					fill: rgba(255,255,255,.6)
					display: inline-block
					vertical-align: middle
					margin-right: 13px
					@include tablet
						margin-right: 7px

				.menu-caption
					display: inline-block
					vertical-align: middle
				&:hover
					.icon
						fill: $azure
	.header-account
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		position: relative
		@include phone
			margin-top: 3em 
			padding-top: 2em
			border-top: 1px solid rgba(255,255,255,.4)
			display: block
		&:hover
			.account-menu
				display: block
	.header-account-label
		display: flex
		flex-direction: row
		align-items: center
		padding-left: 40px
		border-left: 1px solid rgba(255,255,255,.4)
		@include tablet 
			border-left: none
			padding-left: 0px


		&:hover
			.account-img
				border-color: $azure

	.account-title
		min-width: 170px

	.account-img
		@include img-bg
		background-color: $white
		height: $size-header-img
		width: $size-header-img
		border-radius: 50%
		
		border: 2px solid #A2B6C6
		font-size: $size-header-img/3.5
		letter-spacing: 0
		font-weight: 600
		@include tablet 
			
		

	.account-menu
		display: none
		margin: 0px 0 0 0
		padding: 21px 0 0 0
		position: absolute
		left: 0
		top: 100%
		right: 0
		background-color: $very-dark
		li
			display: block
			padding: 21px 40px
			&.logout-li
				display: none 
		@include tablet  	
			left: auto
			right: 0
			li
				&.logout-li
					display: block 	
					border-top: 1px solid rgba(255,255,255,.4)
		@include phone 
			position: static
			display: flex!important 
			flex-direction: row
			justify-content: space-between
			align-items: center
			li 
				padding: 21px 0
				&.logout-li
					border-top: none

	.account-title
		color: $white
		margin-left: 15px
		@include tablet
			display: none
		@include phone 
			display: block

	.account-title-name
	.account-title-role
		font-size: 12px
		opacity: .65
	.account-exit
		margin-left: 10px
		@include tablet
			display: none
		.icon
			width: 20px
			height: 20px
			fill: rgba(255,255,255,.6)
			display: inline-block
			vertical-align: middle
			margin-right: 13px

.wrapper
	padding: 0 45px
	margin: 0 auto
	max-width: 1500px
	@include tablet
		padding: 0 40px
	@include phone
		padding: 0 15px
.page
	padding: 40px 0 40px 0
	@include phone 
		padding: 1em 0




.main-columns
	display: grid
	grid-template-columns:  68fr 32fr
	grid-column-gap: 2em
	grid-auto-flow: dense
	text-align: left
	@include tablet 
		display: block
	.main-column-two
	.main-column-one
		padding-left: 2.5em
		position: relative
		&::before
			content: ''
			height: calc(100vh - 96px )
			border-left: 1px solid $very-light-pink
			position: absolute
			left: 0 
			top: -84px
		@include tablet 
			padding-left: 0
			height: auto
			&::before
				border-left: none
				width: 100%
				height: auto
				top: auto
				bottom: 0
				border-bottom: 1px solid $very-light-pink

.table
	width: 100%
	.item
		display: grid

		&:nth-child(2n)
			background-color: $grey-odd
		&:hover
			background-color: $azure-two-opacity
		&.table-header
			background-color: transparent
	.cell
		padding: 23px
	&.table-small
		width: auto
		.cell
			padding: 5px 8px

.user-avatar
	position: relative
	border-radius: 50%
	text-align: center
	display: none
	border: 2px solid #F1F9FF
	width: 44px
	height: 44px
	font-size: 12px
	font-weight: 400
	padding: 11px
	color: $white
	position: relative
	overflow: hidden
	@include tablet
			height: $size-header-img__tablet
			width: $size-header-img__tablet
	&:nth-child(1)
		display: inline-block
		background-color: $azure-two
	&:nth-child(2)
		display: inline-block
		background-color: $lighter-purple
		transform: translateX(-20%)
	&:nth-child(3)
		display: inline-block
		background-color: $rose
		transform: translateX(-40%)
	.user-avatar__word,
	.user-avatr__img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

	.user-avatr__img
		width: 100%
		height: 100%
		@include img-bg

.popup
	position: fixed
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 10000
	.h2 
		padding-right: 50px
	
	
	&-close
		position: absolute
		width: 37px
		height: 37px 
		border-radius: 50%
		border: 1px solid #8B92A6
		right: 40px 
		top: 30px
		cursor: pointer
		&::before, 
		&::after 
			content: ''
			position: absolute
			left: 50%
			top: 50%
			height: 2px 
			background-color: #8B92A6
			width: 12px
		&::before
			transform: translate(-50%, -50%) rotate(45deg)
		&::after
			transform: translate(-50%, -50%) rotate(-45deg)
		@include phone 
			right: 15px 


		
	&-bg
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background-color: rgba(0,0,0,.5)
	&-content
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		@include phone 
			width: 100%!important
			max-height: 100vh
			overflow: auto
	&-body
		background-color: $white
		padding: 2em
		@include phone 
			padding: 2em 15px
		.h2
			margin-top: 0
	&-footer 
		background-color: $grey-odd
		padding: 2em
.fade-enter-active 
  transition: all .3s ease
.fade-enter, .fade-leave-to
  transform: translateY(5s0px)
  opacity: 0
.fade-leave-active 
  transition: all .1s ease
  .popup-content
	  transition: none 
.flickity-page-dots
	text-align: center
	margin-top: .5em
	.dot
		width: 8px 
		height: 8px 
		border-radius: 4px
		background-color: $grey
		margin: 0 .25em
		display: inline-block
		&.is-selected
			background-color: $azure

.slider_arrow
	width: 20px 
	height: 20px 
	position: absolute
	top: 50% 
	border-style: solid 
	border-color: $black
	transform: translateY(-50%) rotate(45deg)
	&__left
		right: 100%
		border-width: 0 0 1px 1px  
	&__right
		left: 100%
		border-width: 1px 1px 0 0 
.grid-col
	display: grid
	grid-gap: 1em
.grid-col-3-md 
	grid-template-columns: 33% 33% 33%
	@include phone
		grid-template-columns: 100%
		

.header-panel
	display: flex
	flex-direction: row
	justify-content: space-between
	.header-panel__whitetext
		display: flex
		flex-direction: row
		align-items: baseline
		.h1
			margin-right: .5em
		@include phone 
			display: block
.from--errors
	color: $red