


.page-main
  overflow-y: visible
  min-height: calc(100vh - 96px)
  .main-columns
    direction: rtl
    grid-template-columns:  32fr 68fr
.news-list
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 2em
  @include phone
    display: block
  .news-item
    padding-bottom: 2em
  .news-item__img
    padding: 0 0 51% 0
    height: 0
    background-color: $dark
    @include img-bg
  .news-item__text
    padding: 20px 0 30px 0
  .news-item__date
    color: $grey
    font-size: 12px
    line-height: 1
  .news-item__desc
    font-style: normal
    font-weight: 300
    font-size: 12px
    line-height: 20px
.service-list_main
  display: grid
  grid-template-columns: 33% 33% 33%
  grid-gap: 1em
  direction: ltr
  position: relative
  @include tablet
    grid-template-columns: repeat(6, 16.66%)
  @include phone
    display: block
    position: static
  .service-item
    padding: 0 .25em 2em
    text-align: center
    justify-self: center
    width: 100%
    &:nth-child(1)
      justify-self: center
    @include phone
      width: 130px

  .service-logo
    height: 0
    padding: 0 0% 90% 0
    @include icon
    @include tablet 
      padding: 0 0% 30% 0
    @include phone
      padding: 0 0% 54% 0
  .service-text__desc
    font-weight: 300
    font-size: 14px
    color: rgba(21, 24, 32, 0.6)
  .service-text
    .h3
      padding: 1em 0




.main-service__conteiner
  position: relative
  @include phone
    padding-bottom: 2em
  .main-service__link
    @include  tablet
      position: absolute
      top: 0 
      right: 0
    @include phone
      position: static

.service-list_main__flickity
  .slider_arrow
    top: 20px
    right: 20px
    left: auto
    &.slider_arrow__left
      right: 60px