.model-list
  padding-top: 2em
  .model-item
    grid-template-columns: 5fr 3fr 4fr 8fr
    grid-gap: 1.5em
    @include phone 
      display: block
    .model-cell
      width: 100%
      padding: 23px
      display: flex
      justify-content: space-between
      align-items: center
      @include phone
        padding: 11px

    