.projects-list
  padding-top: 2em
  &.table
    .project-item
      .project-item__overlay
        display: grid
        grid-template-columns:  75fr 25fr
        grid-column-gap: 1em
        
      
      

  &.grid 
    display: grid
    grid-template-columns:  1fr 1fr 1fr
    grid-template-rows:  1fr
    grid-column-gap: 1.5em
    grid-row-gap: 1em
    @include tablet 
      grid-template-columns:  1fr 1fr
    @include phone
      grid-template-columns:  1fr
    .project-item
      transition: .15s ease
      background-color: $white-two
      border-radius: 5px
      padding: 23px 35px
      position: relative
      overflow: hidden
      cursor: pointer

      &.project-item__add
        text-align: center
        border: 1px dashed $grey

        .project-item__overlay
          display: grid
          grid-template-areas: ". a a . " ". a a ."
          height: 100%
          &::before,
          &::after
            content: ''
            display: block
          .label 
            grid-area: a
            align-self: center
            justify-self: center
            font-size: 14px
            line-height: 17px
            letter-spacing: 1.2px
            text-transform: uppercase
            font-weight: 600
            color: $grey
        &:hover
          .project-item__overlay
            .label
              color: $dark
            

         
      &:hover
        background-color: $azure-two-opacity
    .h2 
      margin-top: 0
    .project-item__bg
      position: absolute
      right: 0
      bottom: 0
      top: 0
      width: 33%
      @include img-bg
.editors-item
  display: grid
  grid-template-columns:  65fr 25fr 10fr
  grid-column-gap: 1em
  align-items: center
  @include phone
    display: block!important

  .cell 
    padding: 5px .5em!important

.tabs-select
  display: flex
  flex-direction: row
  padding: 1em 0
  .tab 
    font-weight: 500
    margin-right: 2em
    opacity: .5
    cursor: pointer
    &.select
      opacity: 1
    .icon
      width: 17px
      height: 13px

.header-panel
	.header-panel__whitetext
    .tabs-select
      display: none