.page-service 
  overflow-y: visible
  min-height: calc(100vh - 96px)
  .main-column-one
    @include tablet
      padding: 2em 0 0 0 
      margin: 3em 0 0 0
      &::before 
        top: 0 
        bottom: auto 

.service-list
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 1em
  padding-top: 2em
  @include tablet
    grid-template-columns: 1fr 1fr
  @include phone 
    grid-template-columns: 1fr
  .service-item
    padding: 1.8em  2em
    justify-self: center
    background-color: $white-two
    border-radius: 5px
    width: 100%
    .service-item__overlay
      position: relative
      height: 100%
      min-height: 218px
    .h2
      margin: 0 0 1em 0
      line-height: 1
    .service-item__rate-caracters
      font-weight: 600
      margin: 1.5em 0 1.5em
      .service-item__rate-volume_hd 
        color: $azure
    .service-item__rate-cost
      font-weight: 500
      .service-item__rate-cost__value 
        font-size: 36px
    .service-item__rate-name
      font-size: 18px 
      font-weight: 500
      letter-spacing: .5px
      text-transform: uppercase
      color: $grey
    .service-item__more
      position: absolute 
      bottom: 0 
      left: 0
      




  .service-logo
    height: 0
    padding: 0 0% 90% 0
    @include icon
  .service-text__desc
    font-weight: 300
    font-size: 14px
    color: rgba(21, 24, 32, 0.6)
  .service-text
    .h3
      padding: 1em 0
.service-summary
  font-weight: 600 
  margin-bottom: 3em
.service-item__rate-caracters
  div
    display: inline-block


.carousel-cell
  width: 188px
  height: 150px
  @include icon
  margin-right: 10px
  background-color: $azure
  
.popup-service
  .popup-content
    width: 668px
.flickity-enabled
  outline: none
.flickity-viewport
  overflow: hidden

.rate-list
  display: grid
  grid-template-columns: 33% 33% 33%
  grid-gap: 1em
  padding-top: 2em
  @include phone 
    grid-template-columns: 100%
.rate-item 
  background-color: $grey-odd
  padding: 20px
.rate-title
  font-size: 20px 
  font-weight: 600
  margin-bottom: 1em
.rate-prop
  display: flex 
  justify-content: space-between
  align-items: center
.rate-prop-name
  font-size: 11px
.rate-prop-value 
  font-size: 16px 
  font-weight: 700
.rate-cost
  margin: 20px 0
.rate-cost-value 
  font-size: 20px 
  font-weight: 600
.rate-is_current_rate
  color: $green
  font-size: 10px 
  text-transform: uppercase
  padding: 10px 30px 10px 0px 
  position: relative 
  font-weight: 400
  display: inline-block
  letter-spacing: 1px
  .rate-is_current_rate__icon
    position: absolute
    right: 0 
    top: 50%
    bottom: 0
    width: 20px 
    height: 20px
    background-color: $green
    border-radius: 50% 
    transform: translateY(-50%)
    .icon
      fill: $white
      width: 100%
      height: 100%
.service-flickity-slider
  position: relative
  padding-bottom: 2em
.b-change_extra
  display: grid
  grid-template-columns: 50% 50%
  grid-gap: 1em
  padding-top: 0em
  @include phone
    grid-template-columns: 100%
.service-end
  @include tablet
    display: flex
    flex-direction: row 
    justify-self: space-between 
  @include phone
    display: block
  .service-summary
    padding-bottom: 0em
    padding-right: 1em
    
    @include tablet 
      width: 50%
      padding-top: 3.5em
    @include phone
      width: 100%
      font-size: 0.9em
      padding-right: 0
      padding-top: 1em

  .service-extra
    @include tablet 
      padding-left: 1em
      width: 50%
      font-size: 0.75em
    @include phone
      width: 100%
      padding-left: 0
    .h2 
      margin-top: 0
      margin-bottom: 1em
.extra-summary
  padding-bottom: 1em
.popup-extra-summary__title
  font-size: .78em
  font-weight: 400
  min-height: 40px
  @include phone 
    min-height: 0
.popup-extra-summary__value
  font-size: 1.71em
  font-weight: 400
.popup-extra-summary__quantiy
  font-weight: 400
