.h1
  font-weight: 600
  font-size: 36px
  line-height: 44px
  letter-spacing: 0.01em
  @include phone 
    font-size: 30px
.h2
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 35px
  margin: 2rem 0
  @include phone 
    font-size: 18px
  // @include tablet 
  //   margin: 1rem 0

.h3
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 1
  padding: 20px 0
.btn
  font-size: 16px
  font-weight: 600
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: 1.2px
  @include phone
    font-size: 14px
    letter-spacing: 0.8px
    line-height: 1
.text
  &-center
    text-align: center
  &-left
    text-align: left
  &-right
    text-align: right
.input-label,
.table
  .table-header,
  .label
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: #8B92A6
    text-transform: uppercase
    @include phone
      font-size: 11px
      line-height: 1
      


.h1 + .h2
  margin: 2em 0
.p 
  margin: .5em 0

b 
  font-weight: 600
