.data-inputs
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-column-gap: 2em
  grid-auto-flow: dense
  @include tablet
    grid-template-columns: repeat(2, 1fr)
  @include phone
    grid-template-columns: 1fr

  .input
    width: 100%
.user-config-block
  margin: 2em 0
  display: grid
  grid-template-columns:  128fr 872fr
  grid-column-gap: 2em
  grid-auto-flow: dense
  @include phone
    grid-template-columns: 1fr
.user-config__avatar
  max-width: 130px
  margin: 0 auto
  .user-avatar
    height: 0px
    padding: 0 0 100% 0
    width: 100%

.user-config-footer
  display: flex
  flex-direction: row
  align-content: space-between
  justify-content: space-between
  margin-bottom: 4em
  @include phone 
    display: block
    text-align: center
    .btn 
      width: 100% 
      
    .user-config-footer__delete
      margin-top: 4em

.table-external-auth
  td
    vertical-align: middle
    padding: 0 2em 2em 0
    @include phone 
      font-size: 11px
  .icon
    width: 16px
    height: 16px
  .img-auth
    width: 45px
    height: 45px
    background: $white
    box-shadow: 0px 4px 10px rgba(161, 169, 190, 0.4)
    border-radius: 10px
    background-position: center
    background-size: 25px 25px
    background-repeat: no-repeat
