.v-select
  position: relative
  font-family: inherit
  box-sizing: border-box

  *
    box-sizing: border-box

@-webkit-keyframes vSelectSpinner
  0%
    transform: rotate(0deg)

  to
    transform: rotate(1turn)

@keyframes vSelectSpinner
  0%
    transform: rotate(0deg)

  to
    transform: rotate(1turn)

.vs__fade-enter-active, .vs__fade-leave-active
  pointer-events: none
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1)

.vs__fade-enter, .vs__fade-leave-to
  opacity: 0

.vs--disabled
  .vs__clear, .vs__dropdown-toggle, .vs__open-indicator, .vs__search, .vs__selected
    cursor: not-allowed
    background-color: #f8f8f8

.v-select[dir=rtl]
  .vs__actions
    padding: 0 3px 0 6px

  .vs__clear
    margin-left: 6px
    margin-right: 0

  .vs__deselect
    margin-left: 0
    margin-right: 2px

  .vs__dropdown-menu
    text-align: right

.vs__dropdown-toggle
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  display: flex
  padding: 0 0 4px
  background: none
  border-bottom: 1px solid $very-dark
  font-size: 16px
  padding: 15px 0 15px 0
  white-space: normal
.input-label
  .vs__dropdown-toggle
    padding: 10px 0 15px 0
.vs__selected-options
  display: flex
  flex-basis: 100%
  flex-grow: 1
  flex-wrap: wrap
//   padding: 0 2px
  position: relative

.vs__actions
  display: flex
  align-items: center
  padding: 4px 6px 0 3px

.vs--searchable .vs__dropdown-toggle
  cursor: text

.vs--unsearchable .vs__dropdown-toggle
  cursor: pointer

.vs--open .vs__dropdown-toggle
  border-bottom-color: transparent
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.vs__open-indicator
  fill: rgba(60, 60, 60, 0.5)
  transform: scale(1)
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855)
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855)

.vs--open .vs__open-indicator
  transform: rotate(180deg) scale(1)

.vs--loading .vs__open-indicator
  opacity: 0

.vs__clear
  fill: rgba(60, 60, 60, 0.5)
  padding: 0
  border: 0
  background-color: transparent
  cursor: pointer
  margin-right: 8px

.vs__dropdown-menu
  display: block
  box-sizing: border-box
  position: absolute
  top: calc(100% - 1px)
  left: 0
  z-index: 1000
  padding: 5px 0
  margin: 0
  width: 100%
  max-height: 350px
  min-width: 160px
  overflow-y: auto
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15)
  border: 1px solid rgba(60, 60, 60, 0.26)
  border-top-style: none
  border-radius: 0 0 4px 4px
  text-align: left
  list-style: none
  background: #fff

.vs__no-options
  text-align: center

.vs__dropdown-option
  line-height: 1.42857143
  display: block
  padding: 3px 20px
  clear: both
  color: #333
  white-space: nowrap

  &:hover
    cursor: pointer

.vs__dropdown-option--highlight
  background: #5897fb
  color: #fff

.vs__dropdown-option--disabled
  background: inherit
  color: rgba(60, 60, 60, 0.5)

  &:hover
    cursor: inherit

.vs__selected
  display: flex
  align-items: center
  background-color: #f0f0f0
  border: 1px solid rgba(60, 60, 60, 0.26)
  color: #333
  line-height: 1.4
  z-index: 0

.vs__deselect
  display: inline-flex
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin-left: 4px
  padding: 0
  border: 0
  cursor: pointer
  background: none
  fill: rgba(60, 60, 60, 0.5)
  text-shadow: 0 1px 0 #fff

.vs--single
  .vs__selected
    background-color: transparent
    border-color: transparent

  &.vs--open .vs__selected
    position: absolute
    opacity: .4

  &.vs--searching .vs__selected
    display: none

.vs__search
  &::-webkit-search-cancel-button, &::-ms-clear, &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration
    display: none

  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  line-height: 1.4
  font-size: 1em
  border: 1px solid transparent
  border-left: none
  outline: none
  margin: 4px 0 0
  padding: 0 7px
  background: none
  box-shadow: none
  width: 0
  max-width: 100%
  flex-grow: 1
  z-index: 1

  &:focus
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    line-height: 1.4
    font-size: 1em
    border: 1px solid transparent
    border-left: none
    outline: none
    margin: 4px 0 0
    padding: 0 7px
    background: none
    box-shadow: none
    width: 0
    max-width: 100%
    flex-grow: 1
    z-index: 1

  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder
    color: inherit

.vs--unsearchable
  .vs__search
    opacity: 1

  &:not(.vs--disabled) .vs__search:hover
    cursor: pointer

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search
  opacity: .2

.vs__spinner
  align-self: center
  opacity: 0
  font-size: 5px
  text-indent: -9999em
  overflow: hidden
  border: 0.9em solid hsla(0, 0%, 39.2%, 0.1)
  border-left-color: rgba(60, 60, 60, 0.45)
  transform: translateZ(0)
  -webkit-animation: vSelectSpinner 1.1s linear infinite
  animation: vSelectSpinner 1.1s linear infinite
  transition: opacity .1s
  border-radius: 50%
  width: 5em
  height: 5em

  &:after
    border-radius: 50%
    width: 5em
    height: 5em

.vs--loading .vs__spinner
  opacity: 1