@import url(../../node_modules/flickity/dist/flickity.css);
.row {
  font-size: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  display: inline-block;
  vertical-align: top; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 1025px) {
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1440px) {
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

@font-face {
  font-family: 'MuseoSans';
  src: url("/static/fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("/static/fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans';
  src: url("/static/fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("/static/fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans';
  src: url("/static/fonts/MuseoSansCyrl-100.woff2") format("woff2"), url("/static/fonts/MuseoSansCyrl-100.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans';
  src: url("/static/fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("/static/fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSans';
  src: url("/static/fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("/static/fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em; }
  @media (max-width: 767px) {
    .h1 {
      font-size: 30px; } }

.h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  margin: 2rem 0; }
  @media (max-width: 767px) {
    .h2 {
      font-size: 18px; } }

.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  padding: 20px 0; }

.btn {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px; }
  @media (max-width: 767px) {
    .btn {
      font-size: 14px;
      letter-spacing: 0.8px;
      line-height: 1; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.input-label .table-header,
.input-label .label,
.table .table-header,
.table .label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #8B92A6;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .input-label .table-header,
    .input-label .label,
    .table .table-header,
    .table .label {
      font-size: 11px;
      line-height: 1; } }

.h1 + .h2 {
  margin: 2em 0; }

.p {
  margin: .5em 0; }

b {
  font-weight: 600; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before {
  box-sizing: border-box; }

html.freeze, body.freeze {
  height: 100%;
  overflow: hidden; }

@media (max-width: 767px) {
  .hd-mobile {
    display: none !important; } }

@media (max-width: 1200px) {
  .hd-table {
    display: none !important; } }

@media (max-width: 767px) {
  .hd-table {
    display: block !important; } }

.hd-desktop {
  display: none !important; }

.show-mobile {
  display: none; }
  @media (max-width: 767px) {
    .show-mobile {
      display: block !important; } }

body {
  font-size: 16px;
  line-height: 1.6;
  color: #151820;
  margin: 0;
  padding: 0;
  font-family: MuseoSans, sans-serif;
  font-weight: 300; }

.link {
  color: #8b92a6;
  text-transform: uppercase;
  line-height: 19px;
  font-weight: 600; }
  .link:hover {
    color: #151820; }
    .link:hover .icon {
      fill: #151820; }
  .link .icon {
    width: 19px;
    height: 19px;
    fill: #8b92a6;
    margin-bottom: -4px;
    display: inline-block;
    margin-right: 4px; }

a {
  color: #000;
  text-decoration: none; }

ol, ul {
  list-style: none; }

.input {
  font-family: MuseoSans, sans-serif; }
  .input[type="text"], .input[type="tel"], .input[type="email"], .input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #0c0a0f;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0 15px 0; }
  .input[type="radio"], .input[type="checkbox"] {
    display: none; }

.control-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em; }
  .control-panel > div {
    margin-right: 2em; }
  @media (max-width: 767px) {
    .control-panel {
      display: block; }
      .control-panel > div {
        margin-right: 0; } }

.input-overlay {
  position: relative; }
  .input-overlay .input-icon__action {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto; }
    .input-overlay .input-icon__action .icon {
      width: 20px;
      height: 20px; }
  .input-overlay .input {
    width: 100%;
    padding-right: 30px; }

input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding: 0 0 0 50px; }
  input[type="checkbox"] + label::before, input[type="checkbox"] + label::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
  input[type="checkbox"] + label::before {
    background-color: #CCD7DB;
    width: 40px;
    border-radius: 100px;
    height: 22px;
    left: 0; }
  input[type="checkbox"] + label::after {
    transition: .1s linear;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    left: 2px; }

input[type="checkbox"]:checked + label::before {
  background-color: #02a9de; }

input[type="checkbox"]:checked + label::after {
  transform: translateX(100%); }

.checkbox-overlay {
  position: relative;
  line-height: 22px; }
  .checkbox-overlay input[type="checkbox"] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0; }
  .checkbox-overlay label {
    display: inline-block;
    vertical-align: middle; }
    .checkbox-overlay label + label {
      margin-left: 1em; }

.input-label {
  position: relative;
  margin-bottom: 2em; }
  .input-label .label {
    display: block;
    font-size: 12px; }

textarea {
  font-family: MuseoSans, sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  resize: none; }

button {
  outline: none; }
  button:disabled {
    cursor: default; }

p, .p {
  margin: 1em 0; }

.table {
  display: table; }

.tr {
  display: table-row; }

.td, .th {
  display: table-cell; }

.link {
  cursor: pointer; }

.btn {
  display: inline-block;
  line-height: 1;
  text-align: center;
  cursor: pointer; }

.page {
  overflow: hidden; }

#svg-sprites {
  display: none; }

.img--bg {
  background: no-repeat center;
  background-size: cover; }

.gallery {
  position: relative; }

.switch__tab {
  cursor: pointer; }

.gallery__tab {
  display: none; }
  .gallery__tab.active {
    display: block; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 2em;
  line-height: 30px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0; }
  @media (max-width: 767px) {
    .btn {
      padding: 7px 15px; } }
  .btn-small {
    font-size: 11px;
    padding: 6px 16px; }
    .btn-small svg {
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: middle; }
      .btn-small svg + .txt {
        padding-left: .5em; }
    .btn-small .txt {
      display: inline-block;
      vertical-align: middle; }
    .btn-small + .btn {
      margin: 0 0 0 .5em; }
  .btn-fill {
    width: 100%; }
  .btn-blue {
    background-color: #02a9de;
    color: white;
    border: none; }
    .btn-blue:disabled {
      color: rgba(255, 255, 255, 0.7);
      opacity: .5;
      cursor: default; }
    .btn-blue svg {
      fill: white; }
  .btn-midnightblue {
    background-color: #1e1b4e;
    color: white;
    border: none; }
    .btn-midnightblue:disabled {
      color: rgba(255, 255, 255, 0.7);
      opacity: .5;
      cursor: default; }
    .btn-midnightblue svg {
      fill: white; }

.link {
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline; }
  .link-big {
    text-transform: uppercase;
    font-size: 14px; }

.input-label_pm {
  position: relative; }
  .input-label_pm .input {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px; }
  .input-label_pm .btn_input-label_pm {
    position: absolute;
    width: 13px;
    height: 13px;
    bottom: 19px;
    cursor: pointer; }
    .input-label_pm .btn_input-label_pm::before, .input-label_pm .btn_input-label_pm::after {
      content: '';
      position: absolute;
      background-color: #151820;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 2px;
      width: 100%; }
    .input-label_pm .btn_input-label_pm::after {
      display: none; }
  .input-label_pm .btn_input-label_pm__minuse {
    left: 0; }
  .input-label_pm .btn_input-label_pm__pluse {
    right: 0; }
    .input-label_pm .btn_input-label_pm__pluse::after {
      transform: translate(-50%, -50%) rotate(90deg);
      display: block; }

.tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 55px; }
  .tabs .tab {
    display: block;
    color: white;
    font-size: 14px;
    padding: 12px 24px;
    background-color: #0c0a0f;
    cursor: pointer; }
    .tabs .tab:hover, .tabs .tab.select, .tabs .tab.active {
      background-color: #02a9de; }

.header {
  background-color: #0c0a0f;
  padding: 22px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; }
  @media (max-width: 767px) {
    .header.open .header-second-column {
      transform: translateX(0%); }
    .header.open .btn-burger::before {
      width: 100%;
      top: 50%;
      transform: rotate(45deg);
      margin-top: -1px; }
    .header.open .btn-burger::after {
      width: 100%;
      bottom: 50%;
      transform: rotate(-45deg);
      margin-bottom: -1px; } }
  .header .header-overlay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .header .header-second-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 767px) {
      .header .header-second-column {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        top: 70px;
        bottom: 0;
        transform: translateX(-100%);
        transition: .5s ease;
        background-color: #0c0a0f;
        display: block;
        padding: 4em 15px 2em 15px; }
        .header .header-second-column .header-menu li {
          display: block;
          margin: 25px 0; } }
  .header .btn-burger {
    display: none;
    position: absolute;
    right: 15px;
    height: 9px;
    width: 26px; }
    .header .btn-burger::before, .header .btn-burger::after {
      content: '';
      position: absolute;
      height: 2px;
      right: 0;
      background-color: white;
      transition: 0.15s ease; }
    .header .btn-burger::before {
      width: 100%;
      top: 0; }
    .header .btn-burger::after {
      bottom: 0;
      width: 75%; }
    @media (max-width: 767px) {
      .header .btn-burger {
        display: block; } }
  .header a {
    color: white; }
    .header a:hover {
      color: #02a9de; }
      .header a:hover .icon {
        fill: #02a9de; }
  .header .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
  .header .logo-icon {
    background: no-repeat center;
    background-size: cover;
    background-image: url("/static/img/svg/logo-header.svg");
    height: 52px;
    width: 52px;
    margin-right: 15px; }
    @media (max-width: 1200px) {
      .header .logo-icon {
        height: 40px;
        width: 40px; } }
  .header .logo-title {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: white; }
    @media (max-width: 1200px) {
      .header .logo-title {
        font-size: 15px; } }
    @media (max-width: 1200px) {
      .header .logo-title {
        font-size: 12px; } }
  .header .header-menu {
    text-transform: uppercase;
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 0;
    padding: 0; }
    .header .header-menu li {
      display: inline-block;
      margin-right: 55px; }
      @media (max-width: 1360px) {
        .header .header-menu li {
          margin-right: 23px; } }
      .header .header-menu li a {
        vertical-align: middle;
        font-size: 14px;
        line-height: 20px;
        height: 20px;
        display: inline-block; }
        .header .header-menu li a.active {
          color: #02a9de; }
          .header .header-menu li a.active .icon {
            fill: #02a9de; }
        .header .header-menu li a .icon {
          width: 20px;
          height: 20px;
          fill: rgba(255, 255, 255, 0.6);
          display: inline-block;
          vertical-align: middle;
          margin-right: 13px; }
          @media (max-width: 1200px) {
            .header .header-menu li a .icon {
              margin-right: 7px; } }
        .header .header-menu li a .menu-caption {
          display: inline-block;
          vertical-align: middle; }
        .header .header-menu li a:hover .icon {
          fill: #02a9de; }
  .header .header-account {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    position: relative; }
    @media (max-width: 767px) {
      .header .header-account {
        margin-top: 3em;
        padding-top: 2em;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        display: block; } }
    .header .header-account:hover .account-menu {
      display: block; }
  .header .header-account-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    padding-left: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.4); }
    @media (max-width: 1200px) {
      .header .header-account-label {
        border-left: none;
        padding-left: 0px; } }
    .header .header-account-label:hover .account-img {
      border-color: #02a9de; }
  .header .account-title {
    min-width: 170px; }
  .header .account-img {
    background: no-repeat center;
    background-size: cover;
    background-color: white;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 2px solid #A2B6C6;
    font-size: 14.85714px;
    letter-spacing: 0;
    font-weight: 600; }
  .header .account-menu {
    display: none;
    margin: 0px 0 0 0;
    padding: 21px 0 0 0;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    background-color: #0c0a0f; }
    .header .account-menu li {
      display: block;
      padding: 21px 40px; }
      .header .account-menu li.logout-li {
        display: none; }
    @media (max-width: 1200px) {
      .header .account-menu {
        left: auto;
        right: 0; }
        .header .account-menu li.logout-li {
          display: block;
          border-top: 1px solid rgba(255, 255, 255, 0.4); } }
    @media (max-width: 767px) {
      .header .account-menu {
        position: static;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: center;
            align-items: center; }
        .header .account-menu li {
          padding: 21px 0; }
          .header .account-menu li.logout-li {
            border-top: none; } }
  .header .account-title {
    color: white;
    margin-left: 15px; }
    @media (max-width: 1200px) {
      .header .account-title {
        display: none; } }
    @media (max-width: 767px) {
      .header .account-title {
        display: block; } }
  .header .account-title-role {
    font-size: 12px;
    opacity: .65; }
  .header .account-exit {
    margin-left: 10px; }
    @media (max-width: 1200px) {
      .header .account-exit {
        display: none; } }
    .header .account-exit .icon {
      width: 20px;
      height: 20px;
      fill: rgba(255, 255, 255, 0.6);
      display: inline-block;
      vertical-align: middle;
      margin-right: 13px; }

.wrapper {
  padding: 0 45px;
  margin: 0 auto;
  max-width: 1500px; }
  @media (max-width: 1200px) {
    .wrapper {
      padding: 0 40px; } }
  @media (max-width: 767px) {
    .wrapper {
      padding: 0 15px; } }

.page {
  padding: 40px 0 40px 0; }
  @media (max-width: 767px) {
    .page {
      padding: 1em 0; } }

.main-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 68fr 32fr;
      grid-template-columns: 68fr 32fr;
  grid-column-gap: 2em;
  grid-auto-flow: dense;
  text-align: left; }
  @media (max-width: 1200px) {
    .main-columns {
      display: block; } }
  .main-columns .main-column-one {
    padding-left: 2.5em;
    position: relative; }
    .main-columns .main-column-one::before {
      content: '';
      height: calc(100vh - 96px);
      border-left: 1px solid #d4d4d4;
      position: absolute;
      left: 0;
      top: -84px; }
    @media (max-width: 1200px) {
      .main-columns .main-column-one {
        padding-left: 0;
        height: auto; }
        .main-columns .main-column-one::before {
          border-left: none;
          width: 100%;
          height: auto;
          top: auto;
          bottom: 0;
          border-bottom: 1px solid #d4d4d4; } }

.table {
  width: 100%; }
  .table .item {
    display: -ms-grid;
    display: grid; }
    .table .item:nth-child(2n) {
      background-color: #f8f8f8; }
    .table .item:hover {
      background-color: rgba(0, 170, 223, 0.5); }
    .table .item.table-header {
      background-color: transparent; }
  .table .cell {
    padding: 23px; }
  .table.table-small {
    width: auto; }
    .table.table-small .cell {
      padding: 5px 8px; }

.user-avatar {
  position: relative;
  border-radius: 50%;
  text-align: center;
  display: none;
  border: 2px solid #F1F9FF;
  width: 44px;
  height: 44px;
  font-size: 12px;
  font-weight: 400;
  padding: 11px;
  color: white;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1200px) {
    .user-avatar {
      height: 40px;
      width: 40px; } }
  .user-avatar:nth-child(1) {
    display: inline-block;
    background-color: #00aadf; }
  .user-avatar:nth-child(2) {
    display: inline-block;
    background-color: #9269eb;
    transform: translateX(-20%); }
  .user-avatar:nth-child(3) {
    display: inline-block;
    background-color: #CD5998;
    transform: translateX(-40%); }
  .user-avatar .user-avatar__word,
  .user-avatar .user-avatr__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .user-avatar .user-avatr__img {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover; }

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000; }
  .popup .h2 {
    padding-right: 50px; }
  .popup-close {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #8B92A6;
    right: 40px;
    top: 30px;
    cursor: pointer; }
    .popup-close::before, .popup-close::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      height: 2px;
      background-color: #8B92A6;
      width: 12px; }
    .popup-close::before {
      transform: translate(-50%, -50%) rotate(45deg); }
    .popup-close::after {
      transform: translate(-50%, -50%) rotate(-45deg); }
    @media (max-width: 767px) {
      .popup-close {
        right: 15px; } }
  .popup-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 767px) {
      .popup-content {
        width: 100% !important;
        max-height: 100vh;
        overflow: auto; } }
  .popup-body {
    background-color: white;
    padding: 2em; }
    @media (max-width: 767px) {
      .popup-body {
        padding: 2em 15px; } }
    .popup-body .h2 {
      margin-top: 0; }
  .popup-footer {
    background-color: #f8f8f8;
    padding: 2em; }

.fade-enter-active {
  transition: all .3s ease; }

.fade-enter, .fade-leave-to {
  transform: translateY(5s0px);
  opacity: 0; }

.fade-leave-active {
  transition: all .1s ease; }
  .fade-leave-active .popup-content {
    transition: none; }

.flickity-page-dots {
  text-align: center;
  margin-top: .5em; }
  .flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #8b92a6;
    margin: 0 .25em;
    display: inline-block; }
    .flickity-page-dots .dot.is-selected {
      background-color: #02a9de; }

.slider_arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  border-style: solid;
  border-color: #000;
  transform: translateY(-50%) rotate(45deg); }
  .slider_arrow__left {
    right: 100%;
    border-width: 0 0 1px 1px; }
  .slider_arrow__right {
    left: 100%;
    border-width: 1px 1px 0 0; }

.grid-col {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em; }

.grid-col-3-md {
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%; }
  @media (max-width: 767px) {
    .grid-col-3-md {
      -ms-grid-columns: 100%;
          grid-template-columns: 100%; } }

.header-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .header-panel .header-panel__whitetext {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: baseline;
        align-items: baseline; }
    .header-panel .header-panel__whitetext .h1 {
      margin-right: .5em; }
    @media (max-width: 767px) {
      .header-panel .header-panel__whitetext {
        display: block; } }

.from--errors {
  color: #FF0000; }

.page-main {
  overflow-y: visible;
  min-height: calc(100vh - 96px); }
  .page-main .main-columns {
    direction: rtl;
    -ms-grid-columns: 32fr 68fr;
        grid-template-columns: 32fr 68fr; }

.news-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  column-gap: 2em; }
  @media (max-width: 767px) {
    .news-list {
      display: block; } }
  .news-list .news-item {
    padding-bottom: 2em; }
  .news-list .news-item__img {
    padding: 0 0 51% 0;
    height: 0;
    background-color: #151820;
    background: no-repeat center;
    background-size: cover; }
  .news-list .news-item__text {
    padding: 20px 0 30px 0; }
  .news-list .news-item__date {
    color: #8b92a6;
    font-size: 12px;
    line-height: 1; }
  .news-list .news-item__desc {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px; }

.service-list_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  grid-gap: 1em;
  direction: ltr;
  position: relative; }
  @media (max-width: 1200px) {
    .service-list_main {
      -ms-grid-columns: (16.66%)[6];
          grid-template-columns: repeat(6, 16.66%); } }
  @media (max-width: 767px) {
    .service-list_main {
      display: block;
      position: static; } }
  .service-list_main .service-item {
    padding: 0 .25em 2em;
    text-align: center;
    justify-self: center;
    width: 100%; }
    .service-list_main .service-item:nth-child(1) {
      justify-self: center; }
    @media (max-width: 767px) {
      .service-list_main .service-item {
        width: 130px; } }
  .service-list_main .service-logo {
    height: 0;
    padding: 0 0% 90% 0;
    background: no-repeat center;
    background-size: contain; }
    @media (max-width: 1200px) {
      .service-list_main .service-logo {
        padding: 0 0% 30% 0; } }
    @media (max-width: 767px) {
      .service-list_main .service-logo {
        padding: 0 0% 54% 0; } }
  .service-list_main .service-text__desc {
    font-weight: 300;
    font-size: 14px;
    color: rgba(21, 24, 32, 0.6); }
  .service-list_main .service-text .h3 {
    padding: 1em 0; }

.main-service__conteiner {
  position: relative; }
  @media (max-width: 767px) {
    .main-service__conteiner {
      padding-bottom: 2em; } }
  @media (max-width: 1200px) {
    .main-service__conteiner .main-service__link {
      position: absolute;
      top: 0;
      right: 0; } }
  @media (max-width: 767px) {
    .main-service__conteiner .main-service__link {
      position: static; } }

.service-list_main__flickity .slider_arrow {
  top: 20px;
  right: 20px;
  left: auto; }
  .service-list_main__flickity .slider_arrow.slider_arrow__left {
    right: 60px; }

.data-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-auto-flow: dense; }
  @media (max-width: 1200px) {
    .data-inputs {
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 767px) {
    .data-inputs {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }
  .data-inputs .input {
    width: 100%; }

.user-config-block {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 128fr 872fr;
      grid-template-columns: 128fr 872fr;
  grid-column-gap: 2em;
  grid-auto-flow: dense; }
  @media (max-width: 767px) {
    .user-config-block {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }

.user-config__avatar {
  max-width: 130px;
  margin: 0 auto; }
  .user-config__avatar .user-avatar {
    height: 0px;
    padding: 0 0 100% 0;
    width: 100%; }

.user-config-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 4em; }
  @media (max-width: 767px) {
    .user-config-footer {
      display: block;
      text-align: center; }
      .user-config-footer .btn {
        width: 100%; }
      .user-config-footer .user-config-footer__delete {
        margin-top: 4em; } }

.table-external-auth td {
  vertical-align: middle;
  padding: 0 2em 2em 0; }
  @media (max-width: 767px) {
    .table-external-auth td {
      font-size: 11px; } }

.table-external-auth .icon {
  width: 16px;
  height: 16px; }

.table-external-auth .img-auth {
  width: 45px;
  height: 45px;
  background: white;
  box-shadow: 0px 4px 10px rgba(161, 169, 190, 0.4);
  border-radius: 10px;
  background-position: center;
  background-size: 25px 25px;
  background-repeat: no-repeat; }

.model-list {
  padding-top: 2em; }
  .model-list .model-item {
    -ms-grid-columns: 5fr 3fr 4fr 8fr;
        grid-template-columns: 5fr 3fr 4fr 8fr;
    grid-gap: 1.5em; }
    @media (max-width: 767px) {
      .model-list .model-item {
        display: block; } }
    .model-list .model-item .model-cell {
      width: 100%;
      padding: 23px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center; }
      @media (max-width: 767px) {
        .model-list .model-item .model-cell {
          padding: 11px; } }

.projects-list {
  padding-top: 2em; }
  .projects-list.table .project-item .project-item__overlay {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75fr 25fr;
        grid-template-columns: 75fr 25fr;
    grid-column-gap: 1em; }
  .projects-list.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 1em; }
    @media (max-width: 1200px) {
      .projects-list.grid {
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr; } }
    @media (max-width: 767px) {
      .projects-list.grid {
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr; } }
    .projects-list.grid .project-item {
      transition: .15s ease;
      background-color: #fafafa;
      border-radius: 5px;
      padding: 23px 35px;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .projects-list.grid .project-item.project-item__add {
        text-align: center;
        border: 1px dashed #8b92a6; }
        .projects-list.grid .project-item.project-item__add .project-item__overlay {
          display: -ms-grid;
          display: grid;
          grid-template-areas: ". a a . " ". a a .";
          height: 100%; }
          .projects-list.grid .project-item.project-item__add .project-item__overlay::before, .projects-list.grid .project-item.project-item__add .project-item__overlay::after {
            content: '';
            display: block; }
          .projects-list.grid .project-item.project-item__add .project-item__overlay .label {
            grid-area: a;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            justify-self: center;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            font-weight: 600;
            color: #8b92a6; }
        .projects-list.grid .project-item.project-item__add:hover .project-item__overlay .label {
          color: #151820; }
      .projects-list.grid .project-item:hover {
        background-color: rgba(0, 170, 223, 0.5); }
    .projects-list.grid .h2 {
      margin-top: 0; }
    .projects-list.grid .project-item__bg {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 33%;
      background: no-repeat center;
      background-size: cover; }

.editors-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65fr 25fr 10fr;
      grid-template-columns: 65fr 25fr 10fr;
  grid-column-gap: 1em;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 767px) {
    .editors-item {
      display: block !important; } }
  .editors-item .cell {
    padding: 5px 0.5em !important; }

.tabs-select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 1em 0; }
  .tabs-select .tab {
    font-weight: 500;
    margin-right: 2em;
    opacity: .5;
    cursor: pointer; }
    .tabs-select .tab.select {
      opacity: 1; }
    .tabs-select .tab .icon {
      width: 17px;
      height: 13px; }

.header-panel .header-panel__whitetext .tabs-select {
  display: none; }

@media (max-width: 767px) {
  .page-company {
    padding-top: 0; }
    .page-company .tabs {
      margin: 0 -15px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 2em;
      background-color: #0c0a0f; }
      .page-company .tabs .tab {
        width: 27%;
        font-size: 10px;
        text-align: center;
        padding: 12px 8px; }
        .page-company .tabs .tab:last-child {
          width: 46%; } }

.page-company .list-user {
  margin: 0 -15px;
  width: auto; }
  .page-company .list-user .value {
    text-align: right; }

.company-state {
  position: relative;
  padding: 0 0 10px 20px; }
  .company-state::before {
    left: 0;
    top: 2px;
    bottom: 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    background-color: #151820; }
  .company-state__ACTIVE {
    color: #329654; }
    .company-state__ACTIVE::before {
      background-color: #329654; }
  .company-state__LIQUIDATING, .company-state__LIQUIDATED {
    color: #FF0000; }

.unit-search__block {
  width: 60%; }
  @media (max-width: 767px) {
    .unit-search__block {
      width: auto;
      margin-bottom: 1em; } }

.list-user {
  padding-top: 2em; }
  .list-user .item-user {
    -ms-grid-columns: 5fr 3fr 4fr 4fr 2fr;
        grid-template-columns: 5fr 3fr 4fr 4fr 2fr;
    grid-gap: 1.5em; }
    @media (max-width: 767px) {
      .list-user .item-user {
        display: block; } }
    @media (max-width: 767px) {
      .list-user .item-user .cell {
        width: 100%;
        padding: 23px 15px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: center;
            align-items: center; } }

.b-company__config {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "name name name name name name" "inn inn inn kpp kpp kpp" "opf opf opf opf opf opf" "header header header header header header" "f f n n c c" "role role role rule rule rule";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 1em; }
  @media (max-width: 767px) {
    .b-company__config {
      grid-template-areas: "name name" "inn kpp" "opf opf" "header header" "f f" "n n" "c c" "role role" "rule rule"; } }

.input-c__name {
  grid-area: name; }

.input-c__inn {
  grid-area: inn; }

.input-c__kpp {
  grid-area: kpp; }

.input-c__opf {
  grid-area: opf; }

.input-c__h3 {
  grid-area: header; }

.input-c_f {
  grid-area: f; }

.input-c_n {
  grid-area: n; }

.input-c_o,
.input-c_c {
  grid-area: c; }

.input-c_e {
  grid-area: e; }

.input-c_p {
  grid-area: p; }

.input-c__role {
  grid-area: role; }

.input-c__rule {
  grid-area: rule; }

.input-c__check {
  grid-area: check; }

.b-unit__config {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "f f n n" "e e p p" "role role role role" "check check check check";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 1em; }
  @media (max-width: 767px) {
    .b-unit__config {
      grid-template-areas: "f" "n" "e" "p" "role" "check"; } }

.company-managment {
  margin: 1em 0 3em; }

.page-service {
  overflow-y: visible;
  min-height: calc(100vh - 96px); }
  @media (max-width: 1200px) {
    .page-service .main-column-one {
      padding: 2em 0 0 0;
      margin: 3em 0 0 0; }
      .page-service .main-column-one::before {
        top: 0;
        bottom: auto; } }

.service-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding-top: 2em; }
  @media (max-width: 1200px) {
    .service-list {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr; } }
  @media (max-width: 767px) {
    .service-list {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }
  .service-list .service-item {
    padding: 1.8em  2em;
    justify-self: center;
    background-color: #fafafa;
    border-radius: 5px;
    width: 100%; }
    .service-list .service-item .service-item__overlay {
      position: relative;
      height: 100%;
      min-height: 218px; }
    .service-list .service-item .h2 {
      margin: 0 0 1em 0;
      line-height: 1; }
    .service-list .service-item .service-item__rate-caracters {
      font-weight: 600;
      margin: 1.5em 0 1.5em; }
      .service-list .service-item .service-item__rate-caracters .service-item__rate-volume_hd {
        color: #02a9de; }
    .service-list .service-item .service-item__rate-cost {
      font-weight: 500; }
      .service-list .service-item .service-item__rate-cost .service-item__rate-cost__value {
        font-size: 36px; }
    .service-list .service-item .service-item__rate-name {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: .5px;
      text-transform: uppercase;
      color: #8b92a6; }
    .service-list .service-item .service-item__more {
      position: absolute;
      bottom: 0;
      left: 0; }
  .service-list .service-logo {
    height: 0;
    padding: 0 0% 90% 0;
    background: no-repeat center;
    background-size: contain; }
  .service-list .service-text__desc {
    font-weight: 300;
    font-size: 14px;
    color: rgba(21, 24, 32, 0.6); }
  .service-list .service-text .h3 {
    padding: 1em 0; }

.service-summary {
  font-weight: 600;
  margin-bottom: 3em; }

.service-item__rate-caracters div {
  display: inline-block; }

.carousel-cell {
  width: 188px;
  height: 150px;
  background: no-repeat center;
  background-size: contain;
  margin-right: 10px;
  background-color: #02a9de; }

.popup-service .popup-content {
  width: 668px; }

.flickity-enabled {
  outline: none; }

.flickity-viewport {
  overflow: hidden; }

.rate-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  grid-gap: 1em;
  padding-top: 2em; }
  @media (max-width: 767px) {
    .rate-list {
      -ms-grid-columns: 100%;
          grid-template-columns: 100%; } }

.rate-item {
  background-color: #f8f8f8;
  padding: 20px; }

.rate-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1em; }

.rate-prop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.rate-prop-name {
  font-size: 11px; }

.rate-prop-value {
  font-size: 16px;
  font-weight: 700; }

.rate-cost {
  margin: 20px 0; }

.rate-cost-value {
  font-size: 20px;
  font-weight: 600; }

.rate-is_current_rate {
  color: #329654;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px 30px 10px 0px;
  position: relative;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 1px; }
  .rate-is_current_rate .rate-is_current_rate__icon {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: #329654;
    border-radius: 50%;
    transform: translateY(-50%); }
    .rate-is_current_rate .rate-is_current_rate__icon .icon {
      fill: white;
      width: 100%;
      height: 100%; }

.service-flickity-slider {
  position: relative;
  padding-bottom: 2em; }

.b-change_extra {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 1em;
  padding-top: 0em; }
  @media (max-width: 767px) {
    .b-change_extra {
      -ms-grid-columns: 100%;
          grid-template-columns: 100%; } }

@media (max-width: 1200px) {
  .service-end {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    justify-self: space-between; } }

@media (max-width: 767px) {
  .service-end {
    display: block; } }

.service-end .service-summary {
  padding-bottom: 0em;
  padding-right: 1em; }
  @media (max-width: 1200px) {
    .service-end .service-summary {
      width: 50%;
      padding-top: 3.5em; } }
  @media (max-width: 767px) {
    .service-end .service-summary {
      width: 100%;
      font-size: 0.9em;
      padding-right: 0;
      padding-top: 1em; } }

@media (max-width: 1200px) {
  .service-end .service-extra {
    padding-left: 1em;
    width: 50%;
    font-size: 0.75em; } }

@media (max-width: 767px) {
  .service-end .service-extra {
    width: 100%;
    padding-left: 0; } }

.service-end .service-extra .h2 {
  margin-top: 0;
  margin-bottom: 1em; }

.extra-summary {
  padding-bottom: 1em; }

.popup-extra-summary__title {
  font-size: .78em;
  font-weight: 400;
  min-height: 40px; }
  @media (max-width: 767px) {
    .popup-extra-summary__title {
      min-height: 0; } }

.popup-extra-summary__value {
  font-size: 1.71em;
  font-weight: 400; }

.popup-extra-summary__quantiy {
  font-weight: 400; }

.v-select {
  position: relative;
  font-family: inherit;
  box-sizing: border-box; }
  .v-select * {
    box-sizing: border-box; }

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }

.vs__fade-enter-active, .vs__fade-leave-active {
  pointer-events: none;
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1); }

.vs__fade-enter, .vs__fade-leave-to {
  opacity: 0; }

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
  cursor: not-allowed;
  background-color: #f8f8f8; }

.v-select[dir=rtl] .vs__actions {
  padding: 0 3px 0 6px; }

.v-select[dir=rtl] .vs__clear {
  margin-left: 6px;
  margin-right: 0; }

.v-select[dir=rtl] .vs__deselect {
  margin-left: 0;
  margin-right: 2px; }

.v-select[dir=rtl] .vs__dropdown-menu {
  text-align: right; }

.vs__dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 4px;
  background: none;
  border-bottom: 1px solid #0c0a0f;
  font-size: 16px;
  padding: 15px 0 15px 0;
  white-space: normal; }

.input-label .vs__dropdown-toggle {
  padding: 10px 0 15px 0; }

.vs__selected-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.vs__actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 4px 6px 0 3px; }

.vs--searchable .vs__dropdown-toggle {
  cursor: text; }

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer; }

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  transform: scale(1);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855); }

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1); }

.vs--loading .vs__open-indicator {
  opacity: 0; }

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px; }

.vs__dropdown-menu {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff; }

.vs__no-options {
  text-align: center; }

.vs__dropdown-option {
  line-height: 1.42857143;
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  white-space: nowrap; }
  .vs__dropdown-option:hover {
    cursor: pointer; }

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff; }

.vs__dropdown-option--disabled {
  background: inherit;
  color: rgba(60, 60, 60, 0.5); }
  .vs__dropdown-option--disabled:hover {
    cursor: inherit; }

.vs__selected {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  color: #333;
  line-height: 1.4;
  z-index: 0; }

.vs__deselect {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff; }

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent; }

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: .4; }

.vs--single.vs--searching .vs__selected {
  display: none; }

.vs__search {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  z-index: 1; }
  .vs__search::-webkit-search-cancel-button, .vs__search::-ms-clear, .vs__search::-webkit-search-decoration, .vs__search::-webkit-search-results-button, .vs__search::-webkit-search-results-decoration {
    display: none; }
  .vs__search:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.4;
    font-size: 1em;
    border: 1px solid transparent;
    border-left: none;
    outline: none;
    margin: 4px 0 0;
    padding: 0 7px;
    background: none;
    box-shadow: none;
    width: 0;
    max-width: 100%;
    -ms-flex-positive: 1;
        flex-grow: 1;
    z-index: 1; }
  .vs__search::-webkit-input-placeholder, .vs__search::-moz-placeholder, .vs__search:-ms-input-placeholder, .vs__search::-ms-input-placeholder, .vs__search::placeholder {
    color: inherit; }

.vs--unsearchable .vs__search {
  opacity: 1; }

.vs--unsearchable:not(.vs--disabled) .vs__search:hover {
  cursor: pointer; }

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: .2; }

.vs__spinner {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left-color: rgba(60, 60, 60, 0.45);
  transform: translateZ(0);
  animation: vSelectSpinner 1.1s linear infinite;
  transition: opacity .1s;
  border-radius: 50%;
  width: 5em;
  height: 5em; }
  .vs__spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em; }

.vs--loading .vs__spinner {
  opacity: 1; }

.page--auth {
  background-color: #151820;
  color: white;
  padding: 0; }
  .page--auth .link {
    color: #02a9de; }
    .page--auth .link:hover {
      color: white; }
  .page--auth .input {
    color: white;
    border-color: rgba(255, 255, 255, 0.7); }
    .page--auth .input:focus, .page--auth .input:hover {
      border-color: white; }
  .page--auth .auth--external-providers {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    padding: 2em 0; }
  .page--auth .auth--container__form {
    padding: 2em 0; }
  .page--auth .auth--overlay {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 6fr;
        grid-template-columns: 4fr 6fr; }
    @media (max-width: 1200px) {
      .page--auth .auth--overlay {
        -ms-grid-columns: (1fr)[2];
            grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 767px) {
      .page--auth .auth--overlay {
        display: block; }
        .page--auth .auth--overlay .auth--img {
          display: none; } }
  .page--auth .auth--form {
    padding: 2em 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column; }
    @media (max-width: 767px) {
      .page--auth .auth--form {
        padding: 15px 0; }
        .page--auth .auth--form .btn .txt {
          display: none; } }
  .page--auth .auth .form--wrapper {
    padding: 0 2em;
    max-width: 470px;
    margin: 0 auto; }
  .page--auth .auth .from--errors {
    padding-top: 2em;
    color: red; }
  .page--auth .auth .form--footer {
    padding: 3em 0 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .page--auth .auth--img {
    background: no-repeat center;
    background-size: cover;
    background-image: url("/static/img/auth--bg.jpg");
    position: relative; }
    .page--auth .auth--img__logo {
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1.5vw 2.5vw;
      display: -ms-flexbox;
      display: flex;
      color: #000;
      -ms-flex-align: center;
          align-items: center; }
      .page--auth .auth--img__logo .pic {
        width: 117px;
        height: 117px;
        background: no-repeat center;
        background-size: contain;
        background-image: url("/static/img/svg/logo-header.svg"); }
      .page--auth .auth--img__logo .txt {
        font-size: 3em;
        font-weight: 900;
        padding: 0 0 0 .25em; }
  .page--auth .registration--block {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 2em 0;
    margin-top: 8vh; }

.popup--registration .registration--inputs {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "name name" "em ph" "ps reps";
  grid-auto-rows: minmax(100px, auto);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em; }
  .popup--registration .registration--inputs .input-label:nth-child(1) {
    grid-area: name; }
  .popup--registration .registration--inputs .input-label:nth-child(2) {
    grid-area: em; }
  .popup--registration .registration--inputs .input-label:nth-child(3) {
    grid-area: ph; }
  .popup--registration .registration--inputs .input-label:nth-child(4) {
    grid-area: ps; }
  .popup--registration .registration--inputs .input-label:nth-child(5) {
    grid-area: reps; }
  @media (max-width: 767px) {
    .popup--registration .registration--inputs {
      display: block; } }

@media (max-width: 767px) {
  .popup--registration .btn .txt {
    display: none; } }
