<template>
    <div class="page page-service">
        <div class="wrapper">
            <h1 class="h1">Сервисы</h1>
            <div class="main-columns">
                <div class="main-column-two">
                    <div class="service-list">
                        <div v-for="service_item in list" class="service-item"  v-on:click="open_service(service_item.id)">
                            <div class="service-item__overlay">
                            <h2 class="h2">{{service_item.name}}</h2>
                            <div class="p">{{service_item.description}}</div>
                            <div v-if="service_item.status==0" class="service-item__more">
                                <div class="btn btn-blue btn-small">Узнать больше</div>
                            </div>
                            <div v-else>
                                <div class="service-item__rate-caracters">
                                    <div class="service-item__rate-count_users">
                                        {{service_item.rates[service_item.current_rate].count_users}} пользователей
                                    </div>
                                    <div class="service-item__rate-volume_hd">
                                        {{service_item.rates[service_item.current_rate].volume_hd}}  Гб
                                    </div>
                                </div>

                                <div class="service-item__rate-cost">
                                    <span class="service-item__rate-cost__value">{{service_item.rates[service_item.current_rate].cost}}</span> ₽/мес.
                                </div>
                                <div class="service-item__rate-name">
                                    {{service_item.rates[service_item.current_rate].name}}
                                </div>
                            </div>
                        </div></div>
                    </div>
                </div>
                <div class="main-column-one service-end">
                    <div class="service-summary">
                    <div>Объём дискового пространства: {{sum_hd}} Гб</div>
                    <div>Кол-во пользователей: {{sum_units}}</div>
                    <div>Ежемесячный платеж: {{sum_pay}}  ₽ / мес.</div>
                    </div>
                    <div class="service-extra">
                    <h2 class="h2">Дополнительно</h2>

                    <p>В случае необходимости вы можете подключить дополнительное количество дискового пространства и пользователей.</p>
                    <div>
                        <div class="btn btn-blue" v-on:click="extra_popup_change()">Отправить заявку на&nbsp;расширение</div>
                    </div>
                    </div>

                </div>

                </div>
            </div>
        <transition name='fade'>
                <div v-if="extra_popup" class="popup popup-extra">

                    <div class="popup-bg"></div>
                    <div class="popup-content">
                        <div class="popup-body">
                            <div class="popup-close" v-on:click="extra_popup_change()"></div>
                            <h2 class="h2"> Расширение</h2>

                            <div class="p">Укажите необходимое количество дискового пространства и  дополнительных пользователей:</div>
                            <div class="b-change_extra">

                                
                            <v-input name="Дисковое пространство (ГБ):" v-model="saas_info.extra_disk_volume" type="integer" v-on:change="onExtraChange('extra_disk_volume', $event)"/>
                            <v-input name="Пользователи (человек):" v-model="saas_info.extra_count_users" type="integer" v-on:change="onExtraChange('extra_count_users', $event)"/>
                            </div>
                        </div>
                        <div class="popup-footer ">
                            <div class="grid-col-3-md grid-col extra-summary">
                                <div class="col-1 ">
                                    <div class="popup-extra-summary__title">Общий объём дискового пространства:</div>
                                    <div><span class="popup-extra-summary__value">{{sum_hd}} </span><span class="popup-extra-summary__quantiy">ГБ</span></div>
                                </div>
                                <div class="col-1">
                                    <div class="popup-extra-summary__title">Общее количество пользователей:</div>
                                    <div><span class="popup-extra-summary__value">{{sum_units}} </span><span class="popup-extra-summary__quantiy">чел.</span></div>
                                </div>
                                <div class="col-1">
                                    <div class="popup-extra-summary__title">Стоимость за расширение:</div>
                                    <div><span class="popup-extra-summary__value">{{sum_pay}}</span> <span class="popup-extra-summary__quantiy">₽/мес.</span> </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="btn btn-blue">
                                    Отправить заявку
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="current_service!=''" class="popup popup-service">
                    <div class="popup-bg"></div>
                    <div class="popup-content">
                        <div class="popup-body">
                            <div class="popup-close" v-on:click="close_popup_service"></div>
                            <h2 class="h2">
                                {{list[current_service].name}}
                            </h2>
                            <div class="p">{{list[current_service].description}}</div>
                            <div class="service-flickity-slider" v-if="list[current_service].screenlist">
                                <flickity ref="flickity" :options="flickityOptions" >
                                    <div class="carousel-cell" v-for="slide in list[current_service].screenlist" :style="{'background-image': 'url(' + slide + ')'}"></div>
                                </flickity>
                                <div @click="previous()" class="hd-mobile slider_arrow slider_arrow__left"></div>
                                <div @click="next()"    class="hd-mobile slider_arrow slider_arrow__right"></div>

                            </div>
                            <h3 class="h3">Тарифы</h3>
                            <div class="rate-list">
                                <div class="rate-item" v-for="rate_item in list[current_service].rates">
                                    <div class="rate-title">{{rate_item.name}}</div>


                                    <div class="rate-count_users rate-prop">

                                        <div class="rate-prop-name">Объём дискового пространства</div>
                                        <div class="rate-prop-value">{{rate_item.volume_hd}}</div>
                                        
                                        </div>
                                    <div class="rate-volume_hd rate-prop">
                                        <div class="rate-prop-name">Дополнительные пользователи</div>
                                        <div class="rate-prop-value">{{rate_item.count_users}}</div>
                                    </div>
                                    <div class="rate-cost">
                                        <span class="rate-cost-value">
                                        {{rate_item.cost}}
                                        </span> ₽/мес. 
                                    </div>
                                    <div v-if="rate_item.id_rate==list[current_service].current_rate" class="rate-is_current_rate"> текущий 
                                        <div class="rate-is_current_rate__icon">
                                            <svg class="icon">
                                                <use xlink:href="/static/svg.symbols/symbols.svg#current"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="btn btn-blue btn-small btn-fill">Оставить заявку</div>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import Flickity from 'vue-flickity';
    import oInput from '@/components/global/input';
    export default {
        name: "index.vue",
        components: {
            Flickity, 
            'v-input': oInput
        },
        computed: {
            ...mapState('service', {
                list: state => state.list,
                saas_info: state => state.saas_info
            }),
            flickityOptionsCom: function(){


            }
        },
        data: function () {
            return {
                extra_popup: false,
                current_service:'',
                flickityOptions: {
                    prevNextButtons: false,
                    pageDots: true,
                    wrapAround: true
                },
                sum_pay: 0,
                sum_hd: 0,
                sum_units: 0
            };
        },
        mounted() {
            this.init();
        },
        methods:{
            init: function(){

                this.get_service_summary();

            },
            get_service_summary: function(){
                this.sum_pay= 0;
                this.sum_hd= 0;
                this.sum_units= 0;
                
                for(let [key, service_item] of Object.entries( this.list)){

                    if(service_item.status!=0){
                        let rate_item = service_item.rates[service_item.current_rate];

                        this.sum_units += rate_item.count_users;
                        this.sum_hd += rate_item.volume_hd;
                        this.sum_pay += rate_item.cost ;
                    
                    }
                }

                this.sum_hd += this.saas_info.extra_disk_volume;
                this.sum_units += this.saas_info.extra_count_users;

                this.sum_pay += this.saas_info.extra_disk_volume * this.saas_info.cost_extra_disk_volume + 
                            this.saas_info.extra_count_users * this.saas_info.cost_extra_user;




            //      sum_disk_volume: 10,
            // cost_extra_disk_volume: 1000,
            // extra_disk_volume: 10,
            // count_users_connect: 12,
            // cost_extra_user: 1000,
            // extra_count_users: 100, 
            // used_disk_vloume: 10,
            // used_count_user: 5


                
                //this.sum_pay = ;
            },
            onExtraChange(prop_name, value_prop){


                this.saas_info[prop_name]  = value_prop;

                console.log('onActionChange ' + prop_name + value_prop);
                 this.get_service_summary();
            },
            next: function() {
                this.$refs.flickity.next();
            },
            previous: function() {
                this.$refs.flickity.previous();
            },
            close_popup_service: function(){

                this.current_service ='';
            },
            open_service: function (id_service) {

                this.current_service = id_service;

            },
            extra_popup_change: function(){

                this.extra_popup = !this.extra_popup;

            }
        }
    }
</script>
