<template>
<div class="">
    <div class="page page--auth">
        <div class="auth auth--overlay">
            <div class="form auth--form">


                <div class="auth--block">
                <div class="form--wrapper">

                    <h1 class="h1">Авторизация</h1>
                    <div class="auth--external-providers" >
                        <button class="btn btn-blue btn-small" v-for="(provider, ind) in providers" :key="ind" v-on:click="logMeExternal(provider.displayName)">
                            <svg ><use :xlink:href="'/static/svg.symbols/symbols.svg#' + provider.displayName"></use></svg>
                            <div class="txt">{{provider.displayName}}</div>
                        </button>
                    </div>


                    <div class="auth--container__form">

                          <v-input name="Логин" v-model="login" type="string" v-on:change="change('login', $event)" />
                        <v-input name="Пароль" v-model="password" type="password" v-on:change="change('password', $event)" />


                         <div class="checkbox-overlay">



            <input type="checkbox"

                   v-model="remeberme"
                   :true-value="true"
                   :false-value="false"
                   id="check_two_factory"
            >

            <label for="check_two_factory"> запомнить меня</label>
            
            </div>


            

            <div class="from--errors" v-if="errors.length">

                <div class="form--error" v-for="(error, key) in errors" :key="key" >

                    {{error}}

                </div>

            </div>
                <div class="form--footer">

                    <div class="btn btn-blue" v-on:click="auth">Войти</div>

                    <div class="link" v-on:click="show_changepassword = true">забыли пароль?</div>


                </div>

               
                        
                    </div> 

</div>
                    
                </div> <div class="registration--block">
                     <div class="form--wrapper">
                    <div class="p">
                        <div class="link" v-on:click="show_registration = true">Зарегистрироваться</div>
                    </div>
                    <div class="p small">
                        При входе вы подтверждаете согласие с условиями использования и политикой о данных пользователей.
                    </div>
                    </div>
                </div>
            

                
            </div>
            <div class="auth--img">


                <div class="auth--img__logo">
                    <div class="pic"></div>
                    <div class="txt">Tangl</div>
                </div>


            </div>
        </div>
    </div>
     <v-modal v-if="show_twofactory" @close="show_twofactory = false">
         <h2 class="h2" slot="header">Код проверки</h2>
                <div slot="body" class="">
                    <v-input name="Код проверки" v-model="code" type="string" v-on:change="change('code', $event)" />
                </div>
                <div slot="footer" class="">
                    <div class="text-center">
                        <div class="btn btn-blue">Отправить</div>
                    </div>
                </div>
     </v-modal>
     <v-modal v-if="show_registration" @close="show_registration = false" class="popup--registration">
            <h2 class="h2" slot="header">Регистрация</h2>
                <div slot="body" class="">

                    <div v-if="!registration_success">
                    <div class="registration--inputs">
                        <v-input name="Имя" v-model="registration.UserName" type="string" v-on:change="change_reg('UserName', $event)" />
                        <v-input name="E-mail" v-model="registration.EmailAddress" type="string" v-on:change="change_reg('EmailAddress', $event)" />
                        <v-input name="Телефон" v-model="registration.phone" type="phone" v-on:change="change_reg('phone', $event)" />
                        <v-input name="Пароль" v-model="registration.password" type="password" v-on:change="change_reg('password', $event)" />
                        <v-input name="Повтор пароля" v-model="registration.repeat_password" type="password" v-on:change="change_reg('repeat_password', $event)" />
                    </div>
                     <div class="from--errors" v-if="registration_errors">
                        <div class="form--error" v-for="(error, key) in registration_errors" :key="key" > {{error}}</div>
                    </div>
                    <div class="p text-center">
                        <div class="btn btn-blue" v-on:click="registration_user">Зарегистрироваться</div>
                    </div>
                    </div>
                    <div v-else>
                        <p class="p">Регистрация прошла успешно!</p>
                    </div>

                </div>
                <div slot="footer" class="">
                    <div  v-if="!registration_success" class="text-center">
                         <button class="btn btn-midnightblue btn-small" v-for="(provider, ind) in providers" :key="ind" v-on:click="logMeExternal(provider.displayName)">
                            <svg ><use :xlink:href="'/static/svg.symbols/symbols.svg#' + provider.displayName"></use></svg>
                            <div class="txt">{{provider.displayName}}</div>
                        </button>
                    </div>
                </div>
     </v-modal>
     <v-modal v-if="show_changepassword" @close="show_changepassword = false">
          <h2 class="h2" slot="header">Восстановить пароль</h2>
                <div slot="body" class="">
                    <v-input name="E-mail" v-model="email" type="string" v-on:change="change('email', $event)" />
                </div>

<div class="from--errors" v-if="errors_reset">
                        <div class="form--error" v-for="(error, key) in errors_reset" :key="key" > {{error}}</div>
                    </div>
                
                <div slot="footer" class="">
                    <div class="text-center">
                        <div class="btn btn-blue" v-on:click="resetPassword">Отправить</div>
                    </div>
                </div>
     </v-modal>



  
</div>
</template>
<script>
import axios from "axios";
  import vModal from '@/components/global/popup';
    import oInput from '@/components/global/input';
export default {
    data:()=>({


        base_url: 'https://auth.st.tangl.cloud/api/',
        registration_errors: [],
        errors: [],
        remeberme: 0,
        login: '',
        password: '',
        email: '',
        remeberme: false, 
        errors_reset: [],
        code:'',
        providers: undefined,
        show_twofactory: false,
        show_registration: false,
        show_changepassword: false,
        registration: {


            AppName: 'returnUrl',
            UserName:'',
            EmailAddress: '',
            phone: '',
            password: '',
            repeat_password:''
        },

        errorsCode: {

            "Volo.Abp.Identity:DuplicateUserName": "Имя пользователя уже зерегистрировано"

            
        },
        registration_success: false 

        
    }),
    components: {
            'v-modal':vModal,
            'v-input': oInput,
           
        },
    mounted:function(){


        

        this.getExternalProviders();
    },
    methods: {
        change_reg: function(prop, value){
            this.$set(this.registration,prop,value);

            
        },
        change: function(prop, value){



            this[prop] =value;
        },
        validPhone: function(phone){

            let re = /^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$/;
            return re.test(phone);

        },
        validEmail: function (email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        registration_valid : function(){


            this.registration_errors = [];
              if(this.registration.UserName.length < 2 ){
                  this.registration_errors.push('имя должно состоять минимум из 2 символов');

              }
              if(!this.validEmail(this.registration.EmailAddress)){
                   this.registration_errors.push('неверный e-mail');

              }
              if(this.validPhone(this.registration.phone) ){
                   this.registration_errors.push('неверный номер телефона');
              }
              if(this.registration.password.length < 6 ){
                   this.registration_errors.push('пароль должен быть не менее 6 символов');

              }
              if(this.registration.repeat_password < 6){
                   this.registration_errors.push('пароль должен быть не менее 6 символов');

              }
            if(this.registration_errors.length == 0){
                if(this.registration.password == this.registration.password ){

                    return true;
                }else{

                    this.registration_errors.push('пароли не совпадают');
                    return false;
                }
            }else{
                return false;

            }
        },
        registration_user: function(){
            let self = this;
            if(this.registration_valid()){
                axios.post(this.base_url + 'account/register', this.registration).then(function (response) {
                    console.log(response);
                    if (response && 'id' in response.data) {
                        self.registration_success = true;
                    }else{


                    }
                }).catch(function(error, error_data){

                    console.log(error);
                    console.log(error.response);
                    console.log(error_data);

                    if('message' in error.response.data.error){
                         self.registration_errors.push(error.response.data.error.message);
                    }else{
                        self.registration_errors.push("Неизвестная ошибка");

                    }


                });
            }
        },
        auth: function(){


            let self = this;
            this.errors = [];

            const userNameOrEmailAddress = this.login,
                password = this.password,
                rememberme = this.remeberme;



            if(userNameOrEmailAddress.length<=4 || password.length<=6 ){
                this.errors.push('не верный логин/пароль');
            }
            if(this.errors.length==0){

                const returnUrl = this.getQueryVariable('ReturnUrl');
                
                axios.post(this.base_url + 'account/login', {
                    userNameOrEmailAddress: userNameOrEmailAddress,
                    password: password,
                    rememberMe:rememberme
                }).then(function (response) {
                     if (response.data && response.data.result==1) {
                       
                       console.log(response);
                       console.log(self.$route);

                       self.$route.go({name:'main_page'});

                        console.log(self.$route);
                    }else if(response.data){

                        console.log(response);
                        switch (response.data.result){

                            
                            case 2: 
                                self.errors.push('Не верный логин, или пароль');
                                break;
                            case 3: 
                                self.errors.push('Сервер авторизации временно не доступен');
                                break;
                            case 4: 
                                self.errors.push("Аккаунт заблокирован");
                                break;
                            case 5: 
                                self.show_twofactory = true;
                                //this.errors.push('');
                            break;
                            default: 
                             self.errors.push("Неизвестная ошибка");
                        }
                    }
                }).catch(function(error){


                    if((typeof error.response !==  "undefined")){

                        if('data' in error.response){

                        if('error' in error.response.data){
                            if('message' in error.response.data.error){
                                self.errors.push(error.response.data.error.message);
                            }else{
                                self.errors.push("Неизвестная ошибка");

                            }
                        }  

                    }
                    
                    }   
                    // self.errors.push("Неизвестная ошибка");
                });
            }
        },

        resetPassword(){

            const userNameOrEmailAddress = this.login
                self = this;


//               "email": "user@example.com",
//   "appName": "string",
//   "returnUrl": "string",
//   "returnUrlHash": "string"


             axios({
                 
                 method: 'post',
                 url: this.base_url + 'app/account/sendPasswordResetCode', 
                 data: {
                     
                    'userNameOrEmailAddress': self.email,
                    "appName": "returnUrl",
                    "returnUrl": "returnUrl",
                    "returnUrlHash": "returnUrl"

                 
                 
                 },
                 responseType:'json',
                
                
                }).then(function (response) {


                    console.log(response);



                }).catch(function(error){


                      if('message' in error.response.data.error){
                         self.errors_reset.push(error.response.data.error.message);

                    }else{
                        self.errors_reset.push("Неизвестная ошибка");

                    }


                    // self.errors.push("Неизвестная ошибка");


                });


        },
        getExternalProviders: function() {
          const response = axios.get(this.base_url + 'auth/providers').then(resp => this.providers =resp.data );
       

      },
      getQueryVariable: function(variable) {
        const query = window.location.search.substring(1);
        const vars = query.split('&');
        for (let i = 0; i < vars.length; i++) {
          let pair = vars[i].split('=');
          if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
          }
        }
      },
    logMeExternal: function (name) {
          const returnUrl = window.location.search.substring(1);
          window.location.href = this.base_url + `auth/challenge?provider=${name}&${returnUrl}`;
      }

    }
}
</script>