<template>
     <div class="input-label " :class="{'input-label_pm': type =='integer'}">
        <label for="" class="label">{{name}}</label>
                <div class="input-overlay">


                    
                    <input 
                    v-bind:type="type_input" 
                    :placeholder="placeholder"
                    class="input" v-model="value_input" @input="onInput" v-mask="'+7 999 99 99 999'" v-if="this.type=='phone'"/>

                    <input 
                    v-bind:type="type_input" 
                    :placeholder="placeholder"
                    class="input" v-model="value_input" @input="onInput"  v-if="this.type!='phone'" />


                    <div v-if="type =='integer'">
                    <div class="btn_input-label_pm btn_input-label_pm__minuse" v-on:click="onMinuse(value_input, 'value_input')"></div>
                    <div class="btn_input-label_pm btn_input-label_pm__pluse" v-on:click="onPluse(value_input, 'value_input')"></div>
                    </div>
                </div>
        </div>
</template>

<script>
export default {
     name: "v-input", 
     data: function () {
            return {

                'value_input': ''
            };
         
         
     },
     props: {
         'placeholder':{
             type: String,
                required: false
         }
         
         ,
        'name': {
                type: String,
                required: false
        }, 
        'value':  {
            
            required: true
        }, 
        'type':  {
            type: String,
            default: 'string',
            required: true
        }
    },
    mounted() {
        this.init();
    },
     methods: {
         init(){
            this.value_input = this.value;
         },
         onChange() {
            // this.value = this.value_input ;

            this.$emit('change', this.value_input);
            
         },
         onInput({ target }) {

            const val = target.value;
            if (this.type=='integer' ) {
                if(val !== newVal){
                    const newVal = val.replace(/[^0-9]/g,'');
                    target.value = newVal;
                    target.dispatchEvent(new Event('input'));
                }
            }
            this.onChange();
         },
        onPluse(value, data_prop){
            console.log(value);
            const
                val = parseInt(value),
                newVal = val+1;
           this[data_prop]= newVal;
           
            this.onChange();
        },
        onMinuse(value, data_prop){
            console.log(value);
            const
                val = parseInt(value),
                newVal = (val>0?val-1: val);

            this[data_prop]= newVal;
            this.onChange();

        },
     },
     computed:{
         type_input(){
            
            return (this.type=='password'?'password':'text');

         }
     }
 
}
</script>