<template>
    <div class="page page-models">
        <div class="wrapper">
            <h1 class="h1">Модели</h1>

            <div class="model-list table">
                <div class="model-item model-item__header table-header table-header item hd-mobile">
                    <div class="model-cell cell">Модель</div>
                    <div class="model-cell cell">Покрытие </div>
                    <div class="model-cell cell">Дата и время</div>
                    <div class="model-cell cell">Описание</div>
                </div>
                <div v-for="item in items" class="model-item item ">
                   <div class="model-cell cell">
                       <label class="label show-mobile">Модель</label>
                       <div class="value">{{item.name}}</div>
                    </div>
                   <div class="model-cell cell hd-mobile ">{{item.coating}}</div>
                   <div class="model-cell cell">
                       <label class="label show-mobile">Дата и время</label>
                       <div class="value">{{format_date(item.date, true)}}</div>
                       
                    </div>
                   <div class="model-cell cell hd-mobile">{{item.description}}</div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    export default {
        name: "index",
        computed: {
            ...mapState('model', {
                items: state => state.items,
            }),
        },
        mounted() {
            console.log(this.items);

            console.log(this);
        }
    }
</script>
