<template>
    <div class="page page-projects">

        <div class="wrapper">

            <div class="header-panel">
                <div class="header-panel__whitetext">
                    <h1 class="h1">Проекты</h1>

                    <div class="tabs-select">
                        <div class="tab"  v-on:click="change_view('grid')" :class="{'select':view=='grid'}">
                            <svg class="icon"><use xlink:href="/static/svg.symbols/symbols.svg#cards"></use></svg>
                            Карточками
                        </div>
                        <div class="tab" v-on:click="change_view('table')" :class="{'select':view=='table'}">
                            <svg class="icon"><use xlink:href="/static/svg.symbols/symbols.svg#list"></use></svg>
                            Списком
                        </div>
                    </div>
                </div>
                <div class="" v-if="view=='table'">
                        <div class="btn btn-blue" v-on:click="add_project('')" >
                            + Добавить проект 
                        </div>
                </div>
            </div>



        <div class="projects-list" :class="view">



            <div class="project-item table-header item" v-if="view=='table'" >
                <div class="project-item__overlay">
                    <div class="cell">Название</div>
                    <div class="cell">Участники</div>
                </div>
               
            </div>
            <div class="project-item item" v-for="project_item in project_list" v-on:click="open_project(project_item.id_project)" v-if="project_item.id_project">

                <div class="project-item__bg" v-if="project_item.img!==''" :style="{'background-image': 'url(' + project_item.img + ')' }"></div>
                <div class="project-item__overlay">
                    <div class="project-item__name  cell" :class="{'h2': view=='grid'}">{{project_item.name}}</div>
                    <div class="project-item__units cell">

                        <div class="user-avatar user-avatar___mini" v-for="user in project_item.users" :title=" user.f_name + ' '+ user.l_name">
                            <div class="user-avatar__word">{{user.f_name.substring(0, 1)}}{{user.l_name.substring(0, 1)}}</div>

                            <div class="user-avatr__img"  v-if="user.avatar!==''" :style="{'background-image': 'url(' + user.avatar + ')' }"></div>
                        </div>
                    </div>
                    <div class="project-item__img"></div>
                </div>
            </div>
            <div class="project-item item project-item__add" v-if="view=='grid'"  v-on:click="add_project('')">
                <div class="project-item__overlay">
                    <div class="label">+ Добавить проект</div> 
                </div>
            </div>
        </div>
        </div>


        <v-modal v-if="show_modal" @close="show_modal = false">
                <h2 class="h2" slot="header">Проект</h2>
                <div slot="body" class="">

                     <v-input name="Название" class="input-c_f" v-model="project_list[current_project].name" type="string" />



                    <h3 class="h3">Редакторы</h3>


                     <v-input name="Введите  имя сотрудника" v-model="new_user_project" type="string" />


                    <div class="editors-list table">
                        <div class="editors-item item" v-for="editor_item in project_list[current_project].users">
                            <div class="cell">{{editor_item.f_name}} {{editor_item.l_name}}</div>
                            <div class="cell">

                               
                                <div class="input-overlay">
                                    <v-select :clearable="false" :reduce="type => type.code" :options="list_permission" :value="{
                                        code: editor_item.permission,
                                        label: dictionary_permission[editor_item.permission]
                                    }" v-model="editor_item.permission" ></v-select>
                                </div>
                            </div>
                            <div class="cell"></div>
                        </div>
                    </div>


                </div>
                <div slot="footer" class="">

                    <div class="text-center">
                        <div class="btn btn-blue" v-on:click="save_project">Сохранить</div>
                    </div>
                </div>
        </v-modal>
    </div>
</template>

<script>
    import vModal from '@/components/global/popup';
    import oInput from '@/components/global/input';
    import vSelect from "vue-select";
    import {mapActions, mapState} from "vuex";
    export default {
        name: "index.vue",
        data: function(){
            return {
                new_user_project: '', 
                view: 'grid',
                show_modal: false,
                current_project:"",
                dictionary_permission: {
                    editor: 'Редактор',
                    watcher: 'Просмотр'
                }
            };
        },
         components: {
            'v-modal':vModal,
            'v-input': oInput,
            "v-select": vSelect
        },
        computed: {
            ...mapState('project', {
                project_list: state => state.items,
            }),
           
            list_permission: function(){
                let arPermission = [];
                for(var p_code in this.dictionary_permission){
                    arPermission.push({label: this.dictionary_permission[p_code], code: p_code })
                }
                return arPermission;
            }
        },
        mounted() {
            // console.log(state);
            console.log(this);
            this.project_list[''] = {

                    name: "",
                    img: '',
                    users: {
                    }
                
            };
        },
        methods: {
            select_permission: function(value){
                if(value in this.dictionary_permission){
                    return {
                        label: this.dictionary_permission[value],
                        code: value,
                    };
                }
            },
            change_view(view_name){
                this.view = view_name;
            },
            open_project(id_project){
                this.current_project = id_project;
                this.show_modal = true;
            },

            add_project(){
                this.current_project = '';
                this.show_modal = true;
            },
            save_project(){

                 this.show_modal = false;
            }
        }
    }
</script>
