<template>
  <div class="OidcCallback">
test

  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'OidcCallback',
  methods: {
    ...mapActions([
      'oidcStore/oidcSignInCallback'
      // 'oidcSignInCallback'
    ])
  },
  mounted () {

    console.log(this);
    this['oidcStore/oidcSignInCallback']()
      .then((redirectPath) => {
        this.$router.push(redirectPath)
      })
      .catch((err) => {
        console.error(err)
        this.$router.push('/oidc-callback-error') // Handle errors any way you want
      })
  }
}
</script>