<template>
    <div>
        <div>
            <h1 class="h1">Смена администратора</h1>

            <p>Введите e-mail нового администратора</p>
            <div class="p">
                <input type="text" class="input " placeholder="Поиск сотрудника" v-model="new_email">
            </div>
            <div class="p">
                <div class="btn btn-blue" v-on:click="change_admin">сменить администратора</div>
            </div>
        </div>

        <v-modal v-if="show_modal" @close="show_modal = false">
                <h2 class="h2" slot="header">Подтверждение</h2>
                <div slot="body" class="">

                    <p class="p">На ваш адрес был отправлен пароль с кодом подтверждения. Для смены администратора компании необходимо ввести отправленный вам код.</p>
                    <v-input name="Код подтверждения" class="" v-model="change_admin_code" type="string" />
                </div>
                <div slot="footer" class="">

                    <div><div class="btn btn-blue" >Отправить</div> </div>
                </div>
        </v-modal>
    </div>
</template>

<script>
    import vModal from '@/components/global/popup';
    import oInput from '@/components/global/input';
    export default {
        
        name: "admin",
         components: {
            'v-modal':vModal,
            'v-input': oInput,
            
        },
        data: function () {

            return {
                
                new_email:'',
                change_admin_code: '',
                show_modal: false
            
            
            };
        },
        methods: {


            change_admin(){

                this.show_modal = true;
            }
        }
    }
</script>

