<template>
    <div class="page page-company">
        <div class="wrapper">
            <div class="tabs">
                <router-link :to="{name:'company_main'}" class="tab" :class="{'active':route_name=='company_main'}">Компания</router-link>
                <router-link :to="{name:'company_units'}" class="tab" :class="{'active':route_name=='company_units'}">Сотрудники</router-link>
                <router-link :to="{name:'company_admin'}" class="tab" :class="{'active':route_name=='company_admin'}">Администрирование</router-link>
            </div>
            <router-view></router-view>
        </div>

    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    
    export default {
        name: "index.vue",
        computed: {
            ...mapState('company', {
                company_data: state => state,
            }),
        },
        data: function () {
            return {
                route_name:'',
                'company': {
                    'name': 'ООО "Коллерс"'
                }
            };
        },
        mounted() {
            this.get_route(this.$route);
        },
        methods: {
            get_route: function (routerData) {
                this.route_name = routerData.name;
            }
        },
        watch: {
            $route(to, from) {
                // console.log(to);
                // console.log(from);

                this.get_route(to);
            }
        }
    }
</script>
