<template>
    <div>


        <div class="company-state " :class="'company-state__' + company.state">{{ state[company.state] }}</div>
        <h1 class="h1">
            {{ company.name }}
        </h1>


        <table class="table table-small">
<tbody>
        <tr><td class="cell"><div>ИНН:</div></td><td class="cell"><div> {{company.inn}}</div>
        </td></tr>
        <tr><td class="cell"><div>КПП: </div></td><td class="cell"><div>{{company.kpp}}</div>
        </td></tr>
        <tr><td class="cell"><div>ОГРН:</div></td><td class="cell"><div> {{company.ogrn}}</div>
        </td></tr>
        <tr><td class="cell"><div>Создана: </div></td><td class="cell"><div>{{format_date(company.ogrn_date)}}</div>
        </td></tr>
        <tr><td class="cell"><div>ОКВЭД: </div></td><td class="cell"><div>{{company.okved}}</div>
        </td></tr>
        </tbody>
        </table>


        <div class="company-managment">
            <h2 class="h2">Подписант</h2>

            <div>

                <div class="p"><b>{{company.management.f_name}} {{company.management.l_name}} {{company.management.m_name}}</b></div>
                <div class="p">{{company.management.post}}</div>
            </div>
            

        </div>
<div>
                <div class="btn btn-blue" v-on:click="change_company">Изменить</div>
            </div>


        <v-modal v-if="edit_company" @close="edit_company = false">
         <h2 class="h2" slot="header">Компания</h2>
         <div slot="body" class="b-company__config">
                <v-input name="Название" class="input-c__name" v-model="company.name" type="string" v-on:change="onCompanyChange('name', $event)"/>
                <v-input name="ИНН"  class="input-c__inn" v-model="company.inn" type="string" v-on:change="onCompanyChange('inn', $event)"/>
                <v-input name="КПП" class="input-c__kpp" v-model="company.kpp" type="string" v-on:change="onCompanyChange('inn', $event)"/>

                <div class="input-label input-label_pm input-c__opf">
                    <label for="" class="label">организационно-прававая Форма</label>
                    <div class="input-overlay">
                        <v-select label="caption" :clearable="false" :options="list_types" :reduce="type => type.code" :value="selected_type" v-model="company.type" v-on:input="changeSelect"></v-select>
                    </div>
                </div>

                <h3 class="h3 input-c__h3">Подписант</h3>
                <v-input name="Фамилия" class="input-c_f" v-model="company.management.l_name" type="string" />
                <v-input name="Имя"  class="input-c_n" v-model="company.management.f_name" type="string" />
                <v-input name="Отчество" class="input-c_c" v-model="company.management.m_name" type="string" />
                <div class="input-label input-label_pm input-c__role">
                    <label for="" class="label">Должность</label>
                    <div class="input-overlay">
                        <v-select label="caption" :clearable="false" :options="list_types_role"  v-model="company.management.post" ></v-select>
                    </div>
                </div>
                <div class="input-label input-label_pm input-c__rule">
                    <label for="" class="label">Действует на основании</label>
                    <div class="input-overlay">
                        <v-select label="caption" :clearable="false" :options="list_types_rule"  v-model="company.management.rule" ></v-select>
                    </div>
                </div>

            </div>

            <div slot="footer" class="">

                <div class="text-center">
                    <div class="btn btn-blue">Сохранить</div>
                </div>
            </div>
        </v-modal>
    </div>
</template>
<script>
    import {mapActions, mapState} from "vuex";
    import vModal from '@/components/global/popup';
    import oInput from '@/components/global/input';
    import vSelect from "vue-select";
    export default {
        name: "main.vue",
        components: {
            'v-modal':vModal,
            'v-input': oInput,
            "v-select": vSelect
        },
        data: function () {
            return {
                edit_company: false,
                list_types_role: ['директор', "бухгалтер", "главный бухгалтер", "президент", "заместитель директора"],
                list_types_rule: ['устава', "приказа"],
                'type_company': {
                    LEGAL  : 'юридическое лицо',
                    INDIVIDUAL : 'индивидуальный предприниматель'
                },
                'state': {
                    ACTIVE : 'действующая',
                    LIQUIDATING  : 'ликвидируется',
                    LIQUIDATED   : 'ликвидирована',
                    REORGANIZING : 'в процессе присоединения к другому юрлицу',
                }
            };
        },
        computed: {
            ...mapState('company', {
                company: state => state.data,
            }),

            selected_type(){
                if(this.company.type!=''){
                    if(this.company.type in this.type_company){
                        return {
                            caption: this.company.type, code:this.type_company[this.company.type]
                        };
                    }

                }
            },
            list_types(){

                let itemsSelect  = [];

                for (let code in this.type_company){
                    itemsSelect.push({caption: this.type_company[code], code:code});
                }


                console.log(itemsSelect);

                return itemsSelect;
            }
        },
        mounted() {


            console.log(this.company);
           
            // console.log(this);
            // this.company.name = this.$parent.company_data.name;
        },
        methods: {

            changeSelect(event){

                console.log(event);
            },
            onCompanyChange(){



           },
             change_company: function(){


                    this.edit_company = ! (this.edit_company);

            }
        }
    }
</script>

