<template>
    <div >
            <h1 class="h1">Сотрудники</h1>
        <div class="control-panel">
            <div class="unit-search__block">
                <div class="input-overlay">
                    <input type="text" class="input " placeholder="Поиск сотрудника" v-model="search">
                    <div class="input-icon__action">
                        <svg class="icon">
                            <use xlink:href="/static/svg.symbols/symbols.svg#search"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn btn-blue" v-on:click="add_user">+ Добавить пользователя</div>
            </div>
        </div>
        <div class="table table-users list-user">
            <div class="item-user item-user__header table-header table-header item hd-mobile">
                <div class=" cell">Имя Фамилия</div>
                <div class=" cell">Должность</div>
                <div class=" cell">E-mail</div>
                <div class=" cell">Телефон</div>
                <div class=" cell">Активность</div>
            </div>
            <div class="item item-user" v-for="item in filteredUnits">
                <div class="cell">
                    <label class="label show-mobile">Пользователь</label>
                    <div class="value">{{item.f_name}} {{item.l_name}}</div>
                </div>
                <div class="cell">
                    <label class="label show-mobile">Должность</label>
                       <div class="value">{{item.point}}</div>
                </div>
                <div class="cell">
                    
                    <label class="label show-mobile">E-mail</label>
                       <div class="value">{{item.email}}</div></div>
                <div class="cell"><label class="label show-mobile">Телефон</label>
                       <div class="value">{{item.phone}}</div></div>
                <div class="cell">
                    <label class="label show-mobile">Активность</label>
                       <div class="value">
                    <input type="checkbox"

                           v-model="item.active"
                           true-value="1"
                           false-value="0"
                           :id="'check_active_user__' + item.id_user"
                    ><label :for="'check_active_user__' + item.id_user"></label>
                       </div>
                </div>
            </div>
        </div>
        <v-modal v-if="show_modal" @close="show_modal = false">
                <h2 class="h2" slot="header">Пользователь</h2>
                <div slot="body" class="b-unit__config">

                    <v-input name="Фамилия" class="input-c_f" v-model="new_user.l_name" type="string" />
                    <v-input name="Имя"  class="input-c_n" v-model="new_user.f_name" type="string"/>
                    <v-input name="E-mail"  class="input-c_e" v-model="new_user.email" type="string"/>
                    <v-input name="Телефон"  class="input-c_p" v-model="new_user.phone" type="string"/>
                    
                    <div class="input-label  input-c__role">
                        <label for="" class="label">Должность</label>
                        <div class="input-overlay">
                            <v-select label="caption" :clearable="false" :options="list_types_points"   v-model="new_user.point" ></v-select>
                        </div>
                    </div>

                    <div class="input-label input-c__check">
                        <div class="input-overlay">
                            <input type="checkbox" v-model="new_user.active" true-value="1" false-value="0"><label for="active">Активность</label>
                        </div>
                    </div>

                </div>
                <div slot="footer">
                    <div class="text-center">
                        <div class="btn btn-blue">Сохранить</div>
                    </div>
                </div>
        </v-modal>
    </div>
</template>

<script>
    import {mapActions, mapState} from "vuex";
    import vModal from '@/components/global/popup';
    import oInput from '@/components/global/input';
    import vSelect from "vue-select";
    export default {
        name: "units.vue",
        components: {
             'v-modal':vModal,
            'v-input': oInput,
            "v-select": vSelect
        },
        computed: {
            ...mapState('company', {
                units: state => state.users.items,
            }),
            filteredUnits: function(){
                let s = this.search.toLowerCase(),
                    newArray = [],
                    oUnits =  this.units;


                for (let key in oUnits) {
                    let el = oUnits[key];
                    if (
                        el.email.toLowerCase().indexOf(s) > -1||
                        el.phone.toLowerCase().indexOf(s) > -1||
                        el.f_name.toLowerCase().indexOf(s) > -1||
                        el.l_name.toLowerCase().indexOf(s) > -1||
                        el.point.toLowerCase().indexOf(s) > -1
                    )
                        newArray.push(el);
                }

                return newArray;

            }
        },
        data: function () {
            return {
                show_modal: false,

                list_types_points: ['архитектор', "главный инженер", "маркетолог", "директор", "технический директор"],

                new_user: {


                    email: '',
                    phone: '',
                    f_name: '',
                    l_name: '',
                    point: ' ',
                    active: 1


                },
                'search': ''
            };
        },

        methods: {

            add_user(){

                this.show_modal = true;
            }
        }
    }
</script>

