<template>
    <transition name='fade'>
        <div class="popup">

        
            <div class="popup-bg"></div>
                <div class="popup-content">
                    <div class="popup-body">
                        <div class="popup-close" @click="$emit('close')"></div>
                        <slot name="header">
                            default header
                        </slot>
                        <slot name="body"></slot>
                        

                    </div>
                    <div class="popup-footer">
                        <slot name="footer" ></slot>
                    </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    
     name: "v-input", 
     data: function () {
         return {};
    }

}
</script>