<template>
    <div class="page page-main">
        <div class="content">
            <div class="wrapper">
                <h1 class="h1">BIMTangl</h1>
                <div class="main-columns">
                    <div class="main-column-one">
                        <div class="main-service__conteiner">
                            <h2 class="h2">Доступные сервисы</h2>

                            <div class="service-list_main" v-if="window.width>767">
                                <v-mainserviceitem  v-for="service_item in list" class="service-item" :serviceitem="service_item" v-bind:key="service_item.id">
                                </v-mainserviceitem>
                            </div>

                            <div class="service-list_main service-list_main__flickity" v-else>
                                <flickity ref="flickity" :options="flickityOptions"  >
                                    <v-mainserviceitem  v-for="service_item in list" class="service-item" :serviceitem="service_item" v-bind:key="service_item.id">
                                    </v-mainserviceitem>
                                </flickity>
                                <div @click="previous()" class="slider_arrow slider_arrow__left"></div>
                                <div @click="next()"    class="slider_arrow slider_arrow__right"></div>


                            </div>

                        <div class="text-center main-service__link"><router-link :to="{name:'service_list'}" class="link link-big">Все сервисы</router-link></div>
                        </div>
                    </div>
                    <div class="main-column-two">

                        <h2 class="h2">
                            Лента
                        </h2>

                        <div class="news-list">
                            <div class="news-item" v-for="item in news">
                                <a :href="item.link">
                                    <div class="news-item__img" :style="{'background-image': 'url(' + item.enclosure.url + ')' }"></div>
                                    <div class="news-item__text">
                                        <div class="news-item__date">{{people_date(item.pubDate)}}</div>
                                        <h3 class="h3">
                                            {{item.title}}
                                        </h3>
                                        <div class="news-item__desc">{{item.description}}</div>
                                    </div>
                                </a>

                            </div>
                            
                        </div>

                        <div>
                            <a href="#" class="btn btn-blue">Все новости</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</template>

<script>
    import Flickity from 'vue-flickity';
    import vMainServiceItem from './main_service___item';
    import axios from 'axios';
    import {mapActions, mapState} from "vuex";
    export default {
        data: function () {
            return {
                window: {
                    width: 0,
                    height: 0
                },
                flickityOptions: {
                    initialIndex: 0,
                    prevNextButtons: false,
                    pageDots: false,
                    wrapAround: false,
                    contain: true,
                    cellAlign: 'left'
                }
            };

        },
        components: {
            Flickity,
            'v-mainserviceitem':vMainServiceItem
        },
        computed: {
            ...mapState('service', {
                list: state => state.list,
                
            }),
            ...mapState('news', {
                news: state => state.items

            })
        },
        created() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {


            people_date(s_date){
                var d_date = new Date(s_date);
                var dd = d_date.getDate();
                if (dd < 10) dd = '0' + dd;

                var mm = d_date.getMonth() + 1;
                if (mm < 10) mm = '0' + mm;

                var yy = d_date.getFullYear() % 100;
                if (yy < 10) yy = '0' + yy;

                return dd + '.' + mm + '.' + yy;
            },
            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            next() {
                this.$refs.flickity.next();
            },
            previous() {
                this.$refs.flickity.previous();
            }
        }
    }
</script>