<template>
    <div>
        <div class="service-logo" style="background-image: url(/static/svg/icon-value.svg)"></div>
        <div class="service-text">
            <h3 class="service-header h3">{{ serviceitem.name }}</h3>
            <div class="service-text__desc">{{ serviceitem.description }}</div>
        </div>
    </div>
</template>
<script>
export default {
     name: "v-mainserviceitem", 
     data: function () {
            return {   };
     },
     props: ['serviceitem']
};
</script>