<template>
    <div>
        <h1 class="h1">Настройки</h1>


        <div class="user-config-block">
            <div class="user-config__avatar">

                <div class="account-img user-avatar" >

                    <div class="user-avatar__word">
                        {{user.f_name.substring(0, 1)}}{{user.l_name.substring(0, 1)}}
                    </div>

                    <div class="user-avatr__img"  v-if="user.avatar!==''" :style="{'background-image': 'url(' + user.avatar + ')' }"></div>

                </div>


                <div class="text-center p">
                    <div class="link">
                        Изменить
                        </div>
                    
                </div>

            </div>

            <div class="data-inputs">
                <div class="input-label"> <label for="" class="label">Имя</label><input type="text" class="input" v-model="user.f_name"></div>
                <div class="input-label"> <label for="" class="label">Фамилия</label><input type="text" class="input" v-model="user.l_name"></div>
                <div class="input-label"> <label for="" class="label">Отчество</label><input type="text" class="input" v-model="user.m_name"></div>
                <div class="input-label"> <label for="" class="label">E-mail</label><input type="text" class="input" v-model="user.email"></div>
                <div class="input-label"> <label for="" class="label">Телефон</label><input type="text" class="input" v-model="user.phone"></div>
            </div>
        </div>


        <div class="user-config-footer">
            <div class="btn btn-blue">Сохранить</div>
            <div class="user-config-footer__delete">
                <div class="link"><svg class="icon"><use xlink:href="/static/svg.symbols/symbols.svg#delete"></use></svg>Удалить аккаунт</div>
            </div>
        </div>


    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "coonfig",
        computed: {
            ...mapState('user', {
                user: state => state.current_user,
            }),
        },
    }
</script>
