<template>
    <div class="page page-user">
        <div class="wrapper">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>