<template>
    <div>
        <h1 class="h1">Безопасность</h1>
        <h2 class="h2">Пароль</h2>
        <div class="data-inputs">
            
            <v-input name="Старый пароль" class="" v-model="old_password" type="password" />
            <v-input name="Новый пароль" class="" v-model="new_password" type="password" />
            <v-input name="Повторите пароль" class="" v-model="repeat_password" type="password" />

        </div>

        <div class="user-config-footer">

            <div class="btn btn-blue">Изменить пароль</div>
        </div>


        <h2 class="h2">Двухфакторная авторизация</h2>


        <div class="p">


            <div class="checkbox-overlay">



            <input type="checkbox"

                   v-model="two_factory"
                   true-value="1"
                   false-value="0"
                   id="check_two_factory"
            >

            <label for="check_two_factory"> включить двухфакторную авторизацию</label>
            
            </div>


        </div>


        <h2 class="h2">
            Внешние права
        </h2>


        <table class="table-external-auth">
            <tbody>

            <tr v-for="ext_item in user.list_external_auth">

                <td>
                    <div class="img-auth" :style="'background-image:  url(' + external_auth[ext_item.name].icon + ')' "></div>

                </td>
                <td>{{external_auth[ext_item.name].name}}</td>
                <td>{{ext_item.date}}</td>
                <td>
                    <svg class="icon">
                        <use xlink:href="/static/svg.symbols/symbols.svg#delete"></use>
                    </svg>
                </td>
            </tr>
            </tbody>
        </table>




    </div>

</template>

<script>
    import {mapState} from "vuex";
    import oInput from '@/components/global/input';
    export default {
        name: "security",
        computed: {
            ...mapState('user', {
                user: state => state.current_user,
            }),
        },
         components: {
            
            'v-input': oInput,
            
        },
        data: function(){

            return {

                old_password: '',
                new_password:'',
                repeat_password:'' ,


                'external_auth': {

                    facebook:{name:'Facebook', icon:'/static/img/fb.png'},
                    google:{name:'Google', icon:'/static/img/google.png'},
                    autodesk:{name:'Autodesk Revit', icon:'/static/img/revit.png'},

                },

                'old_password':'',
                'new_password':'',
                'repeat_password':'',
                'two_factory': 1

            };
        }
    }
</script>
